<div class="container">
    <div class="card">
      <div class="box">
        <h1>
          Histoires :
        </h1>
        
        <mat-card>
            <mat-card-actions>
                <a class="button1" (click)="clickCollapsed(1)">1745 »</a>
            </mat-card-actions>
            <mat-card-content *ngIf="!Collapsed(1)">
        <ul>
        <li>
          <a class="button" href="assets\pdf\Histoire\1745\Reflexion-infini-mathematique-Achard.pdf" download>
            Achard - Réflexion sur l'infini mathématique
            </a>
          </li>
          <li>
            <a class="button" href="assets\pdf\Histoire\1745\Reflexions-infini-mathematique-Achard.pdf" download>
              Achard - Réflexions sur l'infini mathématique
            </a>
          </li>
          <li>
            <a class="button" href="assets\pdf\Histoire\1745\Sur-la-liberte-Achard.pdf" download>
              Achard - Sur la liberté
            </a>
          </li>
          <li>
            <a class="button" href="assets/pdf/Histoire/1745/De-la-force-de-la-percussion-Euler.pdf" download>
              Euler - De la Force de percussion et de sa véritable mesure
            </a>
           </li>
          <li>
            <a class="button" href="assets\pdf\Histoire\1745\Sur-la-nature-des-moindres-parties-matiere-Euler.pdf" download>
            Euler - Sur la nature des moindres parties de la matière
            </a>
          </li>
          <li>
            <a class="button" href="assets\pdf\Histoire\1745\Sur-le-Juste-et-Injuste-Formey.pdf" download>
              Formey - Sur le Juste et l'Injuste
              </a>
            </li>
          <li>
            <a class="button" href="assets\pdf\Histoire\1745\Dissertation-etes-animes-Hippocrate-Heinius-1.pdf" download>
            Heinius - Dissertation Sur l'origine des Êtres animés suivant le système d'Hippocrate (1e)
            </a>
          </li>
          <li>
            <a class="button" href="assets\pdf\Histoire\1745\Dissertation-etes-animes-Hippocrate-Heinius-2.pdf" download>
              Heinius - Dissertation Sur l'origine des Êtres animés suivant le système d'Hippocrate (2e)
              </a>
            </li>
            <li>
              <a class="button" href="assets\pdf\Histoire\1745\Sur-les-anciens-geometres-Naude.pdf" download>
                Heinus - Sur les Idoles d'Épicure
                </a>
              </li>
            <li>
              <a class="button" href="assets\pdf\Histoire\1745\Examen-spinozisme-bayle-jariges.pdf" download>
                Jariges - Examen du Spinozisme et des Objections de Mr Bayle contre ce Système
              </a>
            </li>
            <li>
             <a class="button" href="assets\pdf\Histoire\1745\Sur-le-Spinozisme-Jariges.pdf" download>
              Jariges - Sur le Spinozisme
              </a>
            </li>
            <li>
              <a class="button" href="assets\pdf\Histoire\1745\Sur-les-Idoles-Epicure-Heinius.pdf" download>
                Naude - Sur quelques propositions utiles, mais obscurément énoncées par les anciens géomètres
              </a>
            </li>
             <br>
             <li>
                <a class="button" href="assets\pdf\Histoire\1745\Histoire-renouvellement-Académie-MDCCXLIV.pdf" download>
                  Histoire du Renouvellement de l'Académie en MDCCXLIV
                </a>
            </li>
             <li>
              <a class="button" href="assets\pdf\Histoire\1745\Publication-integrale-1745.pdf" download>
                 Publication intégrale 1745
               </a>
            </li>
            <li>
              <a class="button" href="assets\pdf\Histoire\1745\Table-des-matieres-1745.pdf" download>
                  Table des matières 1745
              </a>
            </li>
          </ul>
        </mat-card-content>
    </mat-card>


    <mat-card>
        <mat-card-actions>
            <a class="button1" (click)="clickCollapsed(2)">1746 »</a>
        </mat-card-actions>
        <mat-card-content *ngIf="!Collapsed(2)">
            <ul>
            <li>
                <a class="button" href="assets\pdf\Histoire\1746\Dissertation-corps-Eller-1.pdf" download>
                    Eller - Dissertation sur les éléments ou premiers principes des corps (1e)
                 </a>
              </li>
              <li>
                  <a class="button" href="assets\pdf\Histoire\1746\Dissertation-corps-Eller-2.pdf" download>
                      Eller - Dissertation sur les éléments ou premiers principes des corps (2e)
                   </a>
                </li>
                <li>
                    <a class="button" href="assets\pdf\Histoire\1746\Memoire-Planetes-Euler.pdf" download>
                       Euler - Mémoire sur la plus grande équation des Planètes
                     </a>
                  </li>
                <li>
                    <a class="button" href="assets\pdf\Histoire\1746\Essai-sur-les-songes-Formey.pdf" download>
                        Formey - Essai Sur les songes
                    </a>
                </li>
                <li>
                    <a class="button" href="assets\pdf\Histoire\1746\Examen-Spinozisme-Objections-Bayle-Jariges-2.pdf" download>
                        Jariges - Examen du Spinozisme et des Objections de Mr Bayle contre ce Système (2e)
                    </a>
                </li>
                <li>
                    <a class="button" href="assets\pdf\Histoire\1746\Loix-du-mouvement-Principe-Metaphysique-Maupertuis.pdf" download>
                        Maupertuis - Les Loix du mouvement et du repos déduit d'un Principe Métaphysique
                    </a>
                </li>
                <br>
                <li>
                    <a class="button" href="assets\pdf\Histoire\1746\Histoire-Académie-MDCCXLVI.pdf" download>
                        Histoire de l'Académie pour l'Année MDCCXLVI
                    </a>
                </li>
                <li>
                    <a class="button" href="assets\pdf\Histoire\1746\Publication-integrale-1746.pdf" download>
                        Publication intégrale 1746
                    </a>
                </li>
                <li>
                    <a  class="button" href="assets\pdf\Histoire\1746\Table-des-matieres-1746.pdf" download>
                        Table des matières 1746
                    </a>
                </li>
            </ul>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-actions>
            <a class="button1" (click)="clickCollapsed(3)">1747 »</a>
        </mat-card-actions>
        <mat-card-content *ngIf="!Collapsed(3)">
            <ul>
            <li>
                <a class="button" href="assets\pdf\Histoire\1747\Les-preuves-existence-de-Dieu-notions-communes-Formey.pdf" download>
                   Formey - Les preuves de l'existence de Dieu ramenées aux notions communes
                </a>
            </li>
            <li>
                <a class="button" href="assets\pdf\Histoire\1747\Examen-fins-de-la-nature-existence-de-Dieu-Formey.pdf" download>
                Formey - Examen de la preuve qu'on tire des fins de la nature pour établir l'existence de Dieu
                </a>
            </li>
            <li>
                <a class="button" href="assets\pdf\Histoire\1747\Le-Renouvellement-Academie-des-Sciences-Friedrich-II.pdf" download>
                Friedrich II - Le Renouvellement de l'Académie des Sciences
                </a>
            </li>
            <li>
                <a class="button" href="assets\pdf\Histoire\1747\Recherches-mouvement-corps-celestes-Euler.pdf" download>
                Euler - Recherches sur le mouvement des corps célestes en général 
                </a>
            </li>
            <br>
            <li>
                <a class="button" href="assets\pdf\Histoire\1747\Histoire-Academie-pour-MDCCXLVIL.pdf" download>
                Histoire de l'Academie pour l'Année MDCCXLVIL
                </a>
            </li>
            <li>
                <a class="button" href="assets\pdf\Histoire\1747\Publication-integrale-1747.pdf" download>
                Publication intégrale 1747
                </a>
            </li>
            <li>
                <a class="button" href="assets\pdf\Histoire\1747\Table-des-matieres-1747.pdf" download>
                Table des matières 1747
                </a>
            </li>          
            </ul>
        </mat-card-content>
    </mat-card>

        <mat-card>
            <mat-card-actions>
                <a class="button1" (click)="clickCollapsed(4)">1748 »</a>
            </mat-card-actions>
            <mat-card-content *ngIf="!Collapsed(4)">>
        <ul>
            <li>
            <a class="button" href="assets\pdf\Histoire\1748\Essai-formation-corps-Eller.pdf" download>
              Eller - Essai sur la formation des corps en général
            </a>
          </li>
          <li>
            <a class="button" href="assets\pdf\Histoire\1748\Reflexions-espace-temps-Euler.pdf" download>
              Euler - Réflexions sur l'espace et le temps
            </a>
          </li>
          <li>
            <a class="button" href="assets\pdf\Histoire\1748\Reflexions-sur-quelques-loix-generales-de-la-nature-Euler.pdf" download>
              Euler - Réflexions sur quelques loix générales de la nature qui s'observent dans les effets des forces quelconques
            </a>
          </li>
          <li>
              <a  class="button" href="assets\pdf\Histoire\1748\Reflexions-sur-la-liberte-Formey.pdf" download>
               Formey - Réflexions sur la liberté
              </a>
            </li>
            <li>
              <a class="button" href="assets\pdf\Histoire\1748\Des-Moeurs-progrès-arts-sciences-Friedrich II.pdf" download>
                    Friedrich II - Des Moeurs, des Coutumes, de l'industrie, des progrès de l'esprit humain dans les arts et dans les sciences
              </a>
            </li>
            <li>
              <a class="button" href="assets\pdf\Histoire\1748\Dissertation-Clitomachus-Carneade-Heinius.pdf" download>
                Heinius - Dissertation sur le philoosphe Clitomachus, successeur de Carnéade dans l'Académie
              </a>
            </li>
            <li>
                <a class="button" href="assets\pdf\Histoire\1748\Reponse-progres-de-esprit-humain-dans-les-arts-et-dans-les-sciences-Maupertuis.pdf" download>
                   Maupertuis - Réponse de Maupertuis au texte Des Moeurs, des Coutumes, de l'industrie, des progrès de l'esprit humain dans les arts et dans les sciences
                </a>
              </li>
                <br>
                <li>
                <a class="button" href="assets\pdf\Histoire\1748\Publication-integrale-1748.pdf" download>
                   Publication intégrale 1748
                </a>
              </li>
                <li>
                 <a class="button" href="assets\pdf\Histoire\1748\Table-des-matieres-1748.pdf" download>
                   Table des matières 1748
                 </a>
                </li>  
                </ul>
            </mat-card-content>
        </mat-card>

                <mat-card>
                    <mat-card-actions>
                        <a class="button1" (click)="clickCollapsed(5)">1749 »</a>
                    </mat-card-actions>
                    <mat-card-content *ngIf="!Collapsed(5)">
<ul>
   <li>
      <a class="button" href="assets\pdf\Histoire\1749\Réflexions-DesCartes-sentiment-perfection-Kästner.pdf" download>
          Kästner - Réflexions sur l'origine du plaisir, où l'on fait tâche de prouver l'idée de DesCartes qu'il naît toujours du sentiment de la perfection de nous-mêmes
      </a>
     </li>
     <li>
        <a class="button" href="assets\pdf\Histoire\1749\Mémoire-idées-existence-âme-Mérian.pdf" download>
            Mérian - Mémoire sur l'apperception considéré relativement aux idées, ou, sur l'existence des idées dans l'âme
        </a>
       </li>
       <li>
          <a class="button" href="assets\pdf\Histoire\1749\De-la-controverse-entre-Leibnitz-Bernoulli-Euler.pdf" download>
            Euler - De la controverse entre Mr's Leibnitz et Bernoulli sur les Logarithmes des nombres négatifs et imaginaires
          </a>
         </li>
         <li>
            <a class="button" href="assets\pdf\Histoire\1749\Dissertation-raisons-établir-abroger-les-loix-Friedrich II.pdf" download>
              Friedrich II - Dissertation sur les raisons d'établir ou d'abroger les loix
            </a>
           </li>
           <li>
              <a class="button" href="assets\pdf\Histoire\1749\Examen-Usure-principes-du-droit-naturel-Formey.pdf" download>
                 Formey - Examen sur l'Usure suivant les principes du droit naturel
              </a>
             </li>
             <li>
                <a class="button" href="assets\pdf\Histoire\1749\Memoire-apperception-propre-existence-Mérian.pdf" download>
                  Mérian - Mémoire sur l'apperception de sa propre existence
                </a>
               </li>
               <br>
               <li>
                  <a class="button" href="assets\pdf\Histoire\1749\Publication-integrale-1749.pdf" download>
                    Publication intégrale 1749
                  </a>
                 </li>
                 <li>
                    <a class="button" href="assets\pdf\Histoire\1749\Table-des-matieres-1749.pdf" download>
                    Table des matières 1749
                    </a>
                   </li>
</ul>
</mat-card-content>
</mat-card>

<mat-card>
    <mat-card-actions>
        <a class="button1" (click)="clickCollapsed(6)">1750 »</a>
    </mat-card-actions>
    <mat-card-content *ngIf="!Collapsed(6)">
<ul>
    <li>
       <a class="button" href="assets\pdf\Histoire\1750\Mémoire-connaître-pensées-autrui-métaphysique-Beguelin.pdf" download>
         Beguelin - Mémoire sur l'art de connaître les pensées d'autrui à l'aide de la métaphysique
       </a>
    </li>
    <li>
      <a class="button" href="assets\pdf\Histoire\1750\Découverte-nouveau-principe-de-Mécanique-Euler.pdf" download>
        Euler - Découverte d'un nouveau principe de Mécanique
      </a>
    <li>
      <a class="button" href="assets\pdf\Histoire\1750\Exposé-Leibnitz-Koenig-principe-moindre-action-Euler.pdf" download>
        Euler - Exposé concernant l'examen de la lettre de M de Leibnitz, alléguée par M le professeur Koenig à l'occasion du principe de la moindre action
      </a>
    </li>
    <li>
    <a class="button" href="assets\pdf\Histoire\1750\Lettre-Merian-Leibnitz-Koenig-moindre-action-Euler.pdf" download>
        Euler - Lettre à M Merian sur la lettre attribuée à Leibnitz par M le professeur Koenig à l'occasion du principe de la moindre action
     </a>
   </li>
    <li>
     <a class="button" href="assets\pdf\Histoire\1750\Recherche-origine-des-forces-Euler.pdf" download>
         Euler - Recherche sur l'origine des forces
     </a>
   </li>
   <li>
     <a class="button" href="assets\pdf\Histoire\1750\Obligation-commodités-vie-morale-Formey.pdf" download>
         Formey - De l'obligation de se procurer toutes les commodités de la vie, considérée comme un devoir de la morale
     </a>
    </li>
    <li>
     <a class="button" href="assets\pdf\Histoire\1750\Éloge-Mettrie-Friedrich II.pdf" download>
         Friedrich II - Éloge de M de la Mettrie
      </a>
     </li>
      <li>
       <a class="button" href="assets\pdf\Histoire\1750\Dissertation-ontologique-action-puissance-liberté-Mérian-1.pdf" download>
          Mérian - Dissertation ontologique sur l'action, la puissance et la liberté (1e)
       </a>
      </li>
      <li>
        <a class="button" href="assets\pdf\Histoire\1750\Dissertation-ontologique-action-puissance-liberté-Mérian-2.pdf" download>
           Mérian - Dissertation ontologique sur l'action, la puissance et la liberté (2e)
        </a>
       </li>
        <br>
         <li>
          <a class="button" href="assets\pdf\Histoire\1750\Histoire-Académie-année-MDCCL.pdf" download>
            Histoire de l'Académie pour l'année MDCCL
            </a>
          </li>
          <li>
            <a class="button" href="assets\pdf\Histoire\1750\Publication-intégrale-1750.pdf" download>
               Publication intégrale 1750
             </a>
            </li>
           <li>
              <a class="button" href="assets\pdf\Histoire\1750\Table-des-matières-1750.pdf" download>
                Table des matières 1750
               </a>
            </li>
</ul>
</mat-card-content>
</mat-card>

<mat-card>
    <mat-card-actions>
        <a class="button1" (click)="clickCollapsed(7)">1751 »</a>
    </mat-card-actions>
    <mat-card-content *ngIf="!Collapsed(7)">
<ul>
<li>
    <a class="button" href="assets\pdf\Histoire\1751\Essay-démonstration-métaphysique-principe-général-équilibre-Euler.pdf" download>
        Euler - Essay d'une démonstration métaphysique du principe général de l'équilibre
    </a>
   </li>
   <li>
      <a class="button" href="assets\pdf\Histoire\1751\Examen-Koenig-actes-Leipzig-Euler.pdf" download>
          Euler - Examen de la dissertation de M le professeur Koenig insérée dans les actes de Leipzig
      </a>
     </li>
     <li>
        <a class="button" href="assets\pdf\Histoire\1751\Harmonie-principes-généraux-mouvement-Maupertuis-Euler.pdf" download>
            Euler - Harmonie entre les principes généraux de repos et de mouvement de M de Maupertuis
        </a>
       </li>
       <li>
          <a class="button" href="assets\pdf\Histoire\1751\Sur-le-principe-de-moindre-action-Euler.pdf" download>
              Euler - Sur le principe de moindre action
          </a>
         </li>
         <li>
            <a class="button" href="assets\pdf\Histoire\1751\De-la-conscience-Formey.pdf" download>
              Formey - De la conscience
            </a>
           </li>
           <li>
              <a class="button" href="assets\pdf\Histoire\1751\Réflexions-philosophiques-ressemblance-Mérian.pdf" download>
                  Mérian - Réflexions philosophiques sur la ressemblance
              </a>
             </li>
             <li>
                <a class="button" href="assets\pdf\Histoire\1751\Recherches-sentiments-Théorie-des-plaisirs-intellectuels-Sulzer.pdf" download>
                    Sulzer - Recherches sur l'origine des sentiments agréables et désagréables - Théorie des plaisirs intellectuels
                </a>
               </li>
               <li>
                  <a class="button" href="assets\pdf\Histoire\1751\Recherches-sentiments-Théorie-générale-du-plaisir-Sulzer.pdf" download>
                    Sulzer - Recherches sur l'origine des sentiments agréables et désagréables - Théorie générale du plaisir
                  </a>
                 </li>
                 <br>
                 <li>
                    <a class="button" href="assets\pdf\Histoire\1751\Publication-intégrale-1751.pdf" download>
                    Publication intégrale 1751
                    </a>
                   </li>
                   <li>
                      <a class="button" href="assets\pdf\Histoire\1751\Table-des-matières-1751.pdf" download>
                      Table des matières 1751
                      </a>
                     </li>
</ul>
</mat-card-content>
</mat-card>

<mat-card>
    <mat-card-actions>
        <a class="button1" (click)="clickCollapsed(8)">1752 »</a>
    </mat-card-actions>
    <mat-card-content *ngIf="!Collapsed(8)">
        <ul>
         <li>
          <a class="button" href="assets\pdf\Histoire\1751\Mémoire-posthume-de-géométrie-Cramer.pdf" download>
              Cramer - Mémoire posthume de géométrie
          </a>
        </li>
        <li>
            <a class="button" href="assets\pdf\Histoire\1751\Vie-Anaxagore-philosophe-école-ionique-Heinius.pdf" download>
                Heinius - Vie d'Anaxagore, philosophe très célèbre de l'école ionique
            </a>
          </li>
          <li>
              <a class="button" href="assets\pdf\Histoire\1751\TRéponse-à-Argy-Académie-Royale-Paris-1749-Maupertuis.pdf" download>
                  Maupertuis - Réponse à un mémoire de M d'Argy inséré dans le volume de l'Académie Royale des sciences de Paris pour l'année 1749
              </a>
            </li>
            <li>
                <a class="button" href="assets\pdf\Histoire\1752\Recherches-sentiments-agréables-désagréables-plaisirs-des-sens-Sulzer.pdf" download>
                    Sulzer - Recherches sur l'origine des sentiments agréables et désagréables - Des plaisirs des sens
                </a>
              </li>
              <li>
                  <a class="button" href="assets\pdf\Histoire\1752\Recherches-sentiments-agréables-désagréables-plaisirs-moraux-Sulzer.pdf" download>
                      Sulzer - Recherches sur l'origine des sentiments agréables et désagréables - Des plaisirs moraux
                  </a>
                </li>
                <br>
                <li>
                    <a class="button" href="assets\pdf\Histoire\1752\Publication-intégrale-1752.pdf" download>
                        Publication intégrale 1752
                    </a>
                  </li>
                  <li>
                      <a class="button" href="assets\pdf\Histoire\1752\Table-des-matières-1752.pdf" download>
                        Table des matières 1752
                      </a>
                    </li>
        </ul>
    </mat-card-content>
</mat-card>

        <mat-card>
            <mat-card-actions>
                <a class="button1" (click)="clickCollapsed(9)">1753 »</a>
            </mat-card-actions>
            <mat-card-content *ngIf="!Collapsed(9)">
        <ul>
            <li>
                <a class="button" href="assets\pdf\Histoire\1752\Examen-Arcy-principe-de-la-moindre-action-Bertrand.pdf" download>
                    Bertrand - Examen des réflexions de M le chevalier d_Arcy sur le principe de la moindre action
                </a>
              </li>
              <li>
                  <a class="button" href="assets\pdf\Histoire\1753\Examen-liaison-sciences-moeurs-Formey.pdf" download>
                      Formey - Examen philosophique de la liaison réelle qu'il y a entre les sciences et les moeurs
                  </a>
                </li>
                <li>
                    <a class="button" href="assets\pdf\Histoire\1753\Des-écrits-doctrine-Anaxagore-Heinius.pdf" download>
                        Heinius - Des écrits et de la doctrine d'Anaxagore
                    </a>
                  </li>
                  <li>
                      <a class="button" href="assets\pdf\Histoire\1753\Des-devoirs-académiciens-Maupertuis.pdf" download>
                          Maupertuis - Des devoirs de l'académiciens
                      </a>
                    </li>
                    <li>
                        <a class="button" href="assets\pdf\Histoire\1753\Examen-question-concernant-la-liberté-Mérian.pdf" download>
                            Mérian - Examen d'une question concernant la liberté
                        </a>
                      </li>
                      <br>
                      <li>
                          <a class="button" href="assets\pdf\Histoire\1753\Table-des-matières-1753.pdf" download>
                            Table des matières 1753
                          </a>
                        </li>
                        <li>
                            <a class="button" href="assets\pdf\Histoire\1753\Table-des-matières-1753.pdf" download>
                              Table des matières 1753
                            </a>
                          </li>
        </ul>
    </mat-card-content>
</mat-card>

        <mat-card>
            <mat-card-actions>
                <a class="button1" (click)="clickCollapsed(10)">1754 »</a>
            </mat-card-actions>
            <mat-card-content *ngIf="!Collapsed(10)">
        <ul>
            <li>
                <a class="button" href="assets\pdf\Histoire\1754\De-l-étendue-imagination-Formey.pdf" download>
                    Formey - De l'étendue et de l'imagination
                </a>
              </li>
                <li>
                    <a class="button" href="assets\pdf\Histoire\1754\Dissertation-idées-Maupertuis.pdf" download>
                        Maupertuis - Dissertation sur les différents moyens dont les hommes se sont servis pour exprimer leurs idées
                    </a>
                  </li>
                  <li>
                      <a class="button" href="assets\pdf\Histoire\1754\Éloge-de-Monsieur-de-Montesquieu-Maupertuis.pdf" download>
                          Maupertuis - Éloge de Monsieur de Montesquieu
                      </a>
                    </li>
                    <li>
                        <a class="button" href="assets\pdf\Histoire\1754\Sur-le-principe-des-indiscernables-Mérian.pdf" download>
                            Mérian - Sur le principe des indiscernables
                        </a>
                      </li>
                      <li>
                          <a class="button" href="assets\pdf\Histoire\1754\Deux-pièces-raison-suffisante-loi-de-continuité-Prémontval.pdf" download>
                              Prémontval - Deux pièces concernant l'une le principe de raison suffisante et l'autre la loi de continuité (et appendice)
                          </a>
                        </li>
                      <li>
                          <a class="button" href="assets\pdf\Histoire\1754\Remarque-définition-Wolf-aliquid-Prémontval.pdf" download>
                              Prémontval - Remarque sur cette définition de M Wolf du mot aliquid
                          </a>
                        </li>
                      <li>
                          <a class="button" href="assets\pdf\Histoire\1754\Essai-bonheur-des-êtres-intelligens-Sulzer.pdf" download>
                              Sulzer - Essai sur le bonheur des êtres intelligens
                          </a>
                        </li>
                          <br>
                          <li>
                              <a class="button" href="assets\pdf\Histoire\1754\ublication-intégrale-1754.pdf" download>
                                Publication intégrale 1754
                              </a>
                            </li>
                            <li>
                                <a class="button" href="assets\pdf\Histoire\1754\Table-des-matières-1754.pdf" download>
                                  Table des matières 1754
                                </a>
                              </li>
        </ul>
    </mat-card-content>
</mat-card>

        <mat-card>
            <mat-card-actions>
                <a class="button1" (click)="clickCollapsed(11)">1755 »</a>
            </mat-card-actions>
            <mat-card-content *ngIf="!Collapsed(11)">
        <ul>
            <li>
                <a class="button" href="assets\pdf\Histoire\1755\Mémoire-premiers-principes-métaphysique-Beguelin.pdf" download>
                    Beguelin - Mémoire sur les premiers principes de la métaphysique
                </a>
              </li>
              <li>
                  <a class="button" href="assets\pdf\Histoire\1755\Second-mémoire-premiers-principes-métaphysique-Beguelin.pdf" download>
                      Beguelin - Second mémoire sur les premiers principes de la métaphysique
                  </a>
                </li>
                <li>
                    <a class="button" href="assets\pdf\Histoire\1755\Réflexions-allégories-philosophiques-Formey.pdf" download>
                        Formey - Réflexions sur les allégories philosophiques
                    </a>
                  </li>
                  <li>
                      <a class="button" href="assets\pdf\Histoire\1755\Sur-la-manière-d-écrire-vie-des-grands-hommes-Maupertuis.pdf" download>
                          Maupertuis - Sur la manière d'écrire et de lire la vie des grands hommes
                      </a>
                    </li>
                    <li>
                        <a class="button" href="assets\pdf\Histoire\1755\Sur-identité-numérique-Mérian.pdf" download>
                            Mérian - Sur l'identité numérique
                        </a>
                      </li>
                      <li>
                          <a class="button" href="assets\pdf\Histoire\1755\La-théologie-chaîne-idées-jusqu-à-Dieu-Prémontval.pdf" download>
                              Prémontval - La théologie de l'être ou chaîne d'idées de l'être jusqu'à Dieu
                          </a>
                        </li>
                        <br>
                        <li>
                            <a class="button" href="assets\pdf\Histoire\1755\Publication-intégrale-1755.pdf" download>
                                Publication intégrale 1755
                            </a>
                          </li>
                          <li>
                              <a class="button" href="assets\pdf\Histoire\1755\Table-des-matières-1755.pdf" download>
                                Table des matières 1755
                              </a>
                            </li>
        </ul>
    </mat-card-content>
</mat-card>

        <mat-card>
            <mat-card-actions>
                <a class="button1" (click)="clickCollapsed(12)">1756 »</a>
            </mat-card-actions>
            <mat-card-content *ngIf="!Collapsed(12)">
        <ul>
            <li>
                <a class="button" href="assets\pdf\Histoire\1755\Exposition-paradoxes-calcul-intégral-Euler.pdf" download>
                    Euler - Exposition de quelques paradoxes dans le calcul intégral
                </a>
              </li>
              <li>
                  <a class="button" href="assets\pdf\Histoire\1755\Examen-existence-de-Dieu-cosmologie-Maupertuis.pdf" download>
                      Maupertuis - Examen philosophique de la preuve de l'existence de Dieu employée dans l_essai de cosmologie
                  </a>
                </li>
                <li>
                    <a class="button" href="assets\pdf\Histoire\1755\Recherche-distinguer-les-devoirs-morale-droit-naturel-Sulzer.pdf" download>
                        Sulzer - Recherche sur un principe fixe qui serve à distinguer les devoirs de la morale de ceux du droit naturel
                    </a>
                  </li>
                  <br>
                  <li>
                      <a class="button" href="assets\pdf\Histoire\1756\Publication-intégrale-1756.pdf" download>
                          Publication intégrale 1756
                      </a>
                    </li>
                    <li>
                        <a class="button" href="assets\pdf\Histoire\1756\Table-des-matières-1756.pdf" download>
                          Table des matières 1756
                        </a>
                      </li>
        </ul>
    </mat-card-content>
</mat-card>

        <mat-card>
            <mat-card-actions>
                <a class="button1" (click)="clickCollapsed(13)">1757 »</a>
            </mat-card-actions>
            <mat-card-content *ngIf="!Collapsed(13)">
        <ul>
            <li>
                <a class="button" href="assets\pdf\Histoire\1757\Parallèle-deux-principes-psychologie-Mérian.pdf" download>
                    Mérian - Parallèle de deux principes de psychologie
                </a>
              </li>
              <li>
                  <a class="button" href="assets\pdf\Histoire\1757\La-théologie-chaîne-idées-Dieu-Prémontval.pdf" download>
                      Prémontval - La théologie de l'être ou chaîne d'idées de l'être jusqu'à Dieu (suite de la première partie lue en 1755)
                  </a>
                </li>
                <li>
                    <a class="button" href="assets\pdf\Histoire\1757\Analyse-du-génie-Sulzer.pdf" download>
                        Sulzer - Analyse du génie
                    </a>
                  </li>
                  <br>
                  <li>
                      <a class="button" href="assets\pdf\Histoire\1757\Publication-intégrale-1757.pdf" download>
                          Publication intégrale 1757
                      </a>
                    </li>
                    <li>
                        <a class="button" href="assets\pdf\Histoire\1757\Table-des-matières-1757.pdf" download>
                          Table des matières 1757
                        </a>
                      </li>
        </ul>
    </mat-card-content>
</mat-card>

        <mat-card>
            <mat-card-actions>
                <a class="button1" (click)="clickCollapsed(14)">1758 »</a>
            </mat-card-actions>
            <mat-card-content *ngIf="!Collapsed(14)">
        <ul>
            <li>
                <a class="button" href="assets\pdf\Histoire\1758\Recherche-connaissance-mécanique-des-corps-Euler.pdf" download>
                    Euler - Recherche sur la connaissance mécanique des corps
                </a>
              </li>
              <li>
                  <a class="button" href="assets\pdf\Histoire\1758\Discours-véritable-principe-grandeur-âme-Formey.pdf" download>
                      Formey - Discours sur le véritable principe de la grandeur d'âme
                  </a>
                </li>
                <li>
                    <a class="button" href="assets\pdf\Histoire\1758\Sur-le-sens-moral-Mérian.pdf" download>
                        Mérian - Sur le sens moral
                    </a>
                  </li>
                  <li>
                      <a class="button" href="assets\pdf\Histoire\1758\De-la-notion-infini-Prémontval.pdf" download>
                          Prémontval - De la notion de l'infini
                      </a>
                    </li>
                    <li>
                        <a class="button" href="assets\pdf\Histoire\1758\Analyse-de-la-raison-Sulzer.pdf" download>
                            Sulzer - Analyse de la raison
                        </a>
                      </li>
                      <br>
                      <li>
                          <a class="button" href="assets\pdf\Histoire\1758\Publication-intégrale-1758.pdf" download>
                              Publication intégrale 1758
                          </a>
                        </li>
                        <li>
                            <a class="button" href="assets\pdf\Histoire\1758\Table-des-matières-1758.pdf" download>
                              Table des matières 1758
                            </a>
                          </li>
        </ul>
    </mat-card-content>
</mat-card>

        <mat-card>
            <mat-card-actions>
                <a class="button1" (click)="clickCollapsed(15)">1759 »</a>
            </mat-card-actions>
            <mat-card-content *ngIf="!Collapsed(15)">
        <ul>
              <li>
                  <a class="button" href="assets\pdf\Histoire\1759\Réflexions-nature-causes-folie-Beausobre.pdf" download>
                      Beausobre - Réflexions sur la nature et les causes de la folie (premier, second et troisième mémoire)
                  </a>
                </li>
                <li>
                    <a class="button" href="assets\pdf\Histoire\1759\Ébauche-système-compensation-Formey.pdf" download>
                        Formey - Ébauche du système de la compensation
                    </a>
                  </li>
                  <li>
                      <a class="button" href="assets\pdf\Histoire\1759\Éloge-Monsieur-Maupertuis-Formey.pdf" download>
                          Formey - Éloge de Monsieur de Maupertuis
                      </a>
                    </li>
                    <li>
                        <a class="button" href="assets\pdf\Histoire\1759\Réunion-origine-du-langage-idées-connaissances-hommes-Formey.pdf" download>
                            Formey - Réunion des principaux moyens employés pour découvrir l'origine du langage, des idées et des connaissances des hommes
                        </a>
                      </li>
                      <li>
                          <a class="button" href="assets\pdf\Histoire\1759\Explication-d-un-paradoxe-psychologique-Sulzer.pdf" download>
                              Sulzer - Explication d'un paradoxe psychologique - Que non seulement l'homme agit et juge quelquefois sans motifs et sans raisons apparentes mais même malgré des motifs pressants et des raisons convainquantes
                          </a>
                        </li>
                        <br>
                      <li>
                          <a class="button" href="assets\pdf\Histoire\1759\Publication-intégrale-1759.pdf" download>
                              Publication intégrale 1759
                          </a>
                        </li>
                        <li>
                            <a class="button" href="assets\pdf\Histoire\1759\Table-des-matières-1759.pdf" download>
                              Table des matières 1759
                            </a>
                          </li>
        </ul>
    </mat-card-content>
</mat-card>

        <mat-card>
            <mat-card-actions>
                <a class="button1" (click)="clickCollapsed(16)">1760 »</a>
            </mat-card-actions>
            <mat-card-content *ngIf="!Collapsed(16)">
        <ul>
            <li>
                <a class="button" href="assets\pdf\Histoire\1760\Réflexions-nature-causes-folie-quatrième-cinquième-mémoire-Beausobre.pdf" download>
                    Beausobre - Réflexions sur la nature et les causes de la folie (quatrième et cinquième mémoire)
                </a>
              </li>
              <li>
                  <a class="button" href="assets\pdf\Histoire\1760\Analyse-notion-de-goût-Formey.pdf" download>
                      Formey - Analyse de la notion de goût
                  </a>
                </li>
                <li>
                    <a class="button" href="assets\pdf\Histoire\1760\Sur-le-désir-Mérian.pdf" download>
                        Mérian - Sur le désir
                    </a>
                  </li>
                  <li>
                      <a class="button" href="assets\pdf\Histoire\1760\Réflexions-philosophiques-utilité-poésie-dramatique-Sulzer.pdf" download>
                          Sulzer - Réflexions philosophiques sur l'utilité de la poésie dramatique
                      </a>
                    </li>
                    <br>
                    <li>
                        <a class="button" href="assets\pdf\Histoire\1760\Publication-intégrale-1760.pdf" download>
                            Publication intégrale 1760
                        </a>
                      </li>
                      <li>
                          <a class="button" href="assets\pdf\Histoire\1760\Table-des-matières-1760.pdf" download>
                            Table des matières 1760
                          </a>
                        </li>
        </ul>
    </mat-card-content>
</mat-card>

        <mat-card>
            <mat-card-actions>
                <a class="button1" (click)="clickCollapsed(17)">1761 »</a>
            </mat-card-actions>
            <mat-card-content *ngIf="!Collapsed(17)">
        <ul>
            <li>
                <a class="button" href="assets\pdf\Histoire\1761\Mémoire-métaphysique-principe-de-raison-suffisante-Troisième-mémoire-Beguelin.pdf" download>
                    Beguelin - Mémoire sur les premiers principes de la métaphysique - De l'usage légitime du principe de raison suffisante (Troisième mémoire - Deux précédents lus en 1755)
                </a>
              </li>
              <li>
                  <a class="button" href="assets\pdf\Histoire\1761\Éloge-de-Monsieur-Eller-Formey.pdf" download>
                      Formey - Éloge de Monsieur Eller
                  </a>
                </li>
                <li>
                    <a class="button" href="assets\pdf\Histoire\1761\Réflexions-sur-les-spectacles-Formey.pdf" download>
                        Formey - Réflexions sur les spectacles
                    </a>
                  </li>
                  <li>
                      <a class="button" href="assets\pdf\Histoire\1761\De-la-psychocratie-Quatrième hypothèse-union-du-corps-âme-Prémontval.pdf" download>
                          Prémontval - De la psychocratie : Quatrième hypothèse sur l'union du corps et de l'âme
                      </a>
                    </li>
                    <br>
                    <li>
                        <a class="button" href="assets\pdf\Histoire\1761\Publication-intégrale-1761.pdf" download>
                            Publication intégrale 1761
                        </a>
                      </li>
                      <li>
                          <a class="button" href="assets\pdf\Histoire\1761\Table-des-matières-1761.pdf" download>
                            Table des matières 1761
                          </a>
                        </li>
        </ul>
    </mat-card-content>
</mat-card>

        <mat-card>
            <mat-card-actions>
                <a class="button1" (click)="clickCollapsed(18)">1762 »</a>
            </mat-card-actions>
            <mat-card-content *ngIf="!Collapsed(18)">
        <ul>
            <li>
                <a class="button" href="assets\pdf\Histoire\1762\Réflexions-songes-premier-mémoire-Beausobre.pdf" download>
                    Beausobre - Réflexions philosophiques sur les songes (premier mémoire)
                </a>
              </li>
              <li>
                  <a class="button" href="assets\pdf\Histoire\1762\Sur-l-éternité-du-monde-Beguelin.pdf" download>
                      Beguelin - Sur l'éternité du monde
                  </a>
                </li>
                <br>
                <li>
                    <a class="button" href="assets\pdf\Histoire\1762\Publication-intégrale-1762.pdf" download>
                        Publication intégrale 1762
                    </a>
                  </li>
                  <li>
                      <a class="button" href="assets\pdf\Histoire\1762\Table-des-matières-1762.pdf" download>
                        Table des matières 1762
                      </a>
                    </li>
        </ul>
    </mat-card-content>
</mat-card>

        <mat-card>
            <mat-card-actions>
                <a class="button1" (click)="clickCollapsed(19)">1763 »</a>
            </mat-card-actions>
            <mat-card-content *ngIf="!Collapsed(19)">
        <ul>
            <li>
                <a class="button" href="assets\pdf\Histoire\1763\Essai-amour-propre-envisagé-comme-principe-de-morale-Friedrich-II.pdf" download>
                    Friedrich II - Essai sur l'amour propre envisagé comme principe de morale
                </a>
              </li>
              <li>
                  <a class="button" href="assets\pdf\Histoire\1763\Observations-monde-intellectuel-Lambert.pdf" download>
                      Lambert - Observations sur quelques dimensions du monde intellectuel
                  </a>
                </li>
                <li>
                    <a class="button" href="assets\pdf\Histoire\1763\Sur-crainte-mort-mépris-mort-suicide-Mérian.pdf" download>
                        Mérian - Sur la crainte de la mort - Sur le mépris de la mort - Sur le suicide
                    </a>
                  </li>
                  <li>
                      <a class="button" href="assets\pdf\Histoire\1763\Observations-divers-états-âme-facultés-primitives-appercevoir-Sulzer.pdf" download>
                          Sulzer - Observations sur les divers états où l'âme se trouve en exerçant ses facultés primitives, celle d'appercevoir et celle de sentir
                      </a>
                    </li>
                    <br>
                    <li>
                        <a class="button" href="assets\pdf\Histoire\1763\Publication-intégrale-1763.pdf" download>
                            Publication intégrale 1763
                        </a>
                      </li>
                      <li>
                          <a class="button" href="assets\pdf\Histoire\1763\Table-des-matières-1763.pdf" download>
                            Table des matières 1763
                          </a>
                        </li>
        </ul>
    </mat-card-content>
</mat-card>

        <mat-card>
            <mat-card-actions>
                <a class="button1" (click)="clickCollapsed(20)">1764 »</a>
            </mat-card-actions>
            <mat-card-content *ngIf="!Collapsed(20)">
        <ul>
            <li>
                <a class="button" href="assets\pdf\Histoire\1764\Remarques-couleurs-prismatiques-physique-métaphysique-sensation-couleurs-Beguelin.pdf" download>
                    Beguelin - Remarques et observations sur les couleurs prismatiques et sur l'analyse physique et métaphysique de la sensation des couleurs en général
                </a>
              </li>
              <li>
                  <a class="button" href="assets\pdf\Histoire\1764\Nouvelles-considérations-union-substances-homme-âme-corps-Formey.pdf" download>
                      Formey - Nouvelles considérations sur l'union des deux substances dans l'homme ou sur commerce de l'âme et du corps
                  </a>
                </li>
                <li>
                    <a class="button" href="assets\pdf\Histoire\1764\De-la-psychocratie-Quatrième-hypothèse-union-corps-âme-Prémontval.pdf" download>
                        Prémontval - De la psychocratie : Quatrième hypothèse sur l'union du corps et de l'âme (première partie d'un texte dont les deux autres parties figurent au coeur du volume de 1761)
                    </a>
                  </li>
                  <li>
                      <a class="button" href="assets\pdf\Histoire\1764\Sur-l-apperception-influence-jugements-Sulzer.pdf" download>
                          Sulzer - Sur l'apperception et son influence sur nos jugements
                      </a>
                    </li>
                    <br>
                    <li>
                        <a class="button" href="assets\pdf\Histoire\1764\Publication-intégrale-1764.pdf" download>
                            Publication intégrale 1764
                        </a>
                      </li>
                      <li>
                          <a class="button" href="assets\pdf\Histoire\1764\Table-des-matières-1764.pdf" download>
                            Table des matières 1764
                          </a>
                        </li>
        </ul>
    </mat-card-content>
</mat-card>

        <mat-card>
            <mat-card-actions>
                <a class="button1" (click)="clickCollapsed(21)">1765 »</a>
            </mat-card-actions>
            <mat-card-content *ngIf="!Collapsed(21)">
        <ul>
            <li>
                <a class="button" href="assets\pdf\Histoire\1765\Discours-univers-existence-de-Dieu-Formey.pdf" download>
                    Formey - Discours sur les preuves tirées de la considération de cet univers pour démontrer l'existence de Dieu et comment ces arguments a posteriori établissent cette importante vérité de la meilleure manière
                </a>
              </li>
              <li>
                  <a class="button" href="assets\pdf\Histoire\1765\Éloge-de-Monsieur-de-Prémontval-Formey.pdf" download>
                      Formey - Éloge de Monsieur de Prémontval
                  </a>
                </li>
                <li>
                    <a class="button" href="assets\pdf\Histoire\1765\Discours-sur-la-métaphysique-Mérian.pdf" download>
                        Mérian - Discours sur la métaphysique
                    </a>
                  </li>
                  <li>
                    <a class="button" href="assets\pdf\Histoire\1765\De-l-énergie-dans-les-ouvrages-des-beaux-arts-Sulzer.pdf" download>
                        Sulzer - De l'énergie dans les ouvrages des beaux-arts
                    </a>
                  </li>
                <br>
              <li>
                <a class="button" href="assets\pdf\Histoire\1765\Publication-intégrale-1765.pdf" download>
                    Publication intégrale 1765
                </a>
              </li>
              <li>
                  <a class="button" href="assets\pdf\Histoire\1765\Table-des-matières-1765.pdf" download>
                    Table des matières 1765
                  </a>
              </li>
        </ul>
    </mat-card-content>
</mat-card>

        <mat-card>
            <mat-card-actions>
                <a class="button1" (click)="clickCollapsed(22)">1766 »</a>
            </mat-card-actions>
            <mat-card-content *ngIf="!Collapsed(22)">
        <ul>
         <li>
             <a class="button" href="assets\pdf\Histoire\1766\Essai-métaphysique-Leibnitz-Newton-nature-Beguelin.pdf" download>
                    Beguelin - Essai d'une conciliation de la métaphysique de Leibnitz avec la physique de Newton d'où résulte l'explication des phénomènes les plus généraux et les plus intéressants de la nature
             </a>
        </li>
        <li>
            <a class="button" href="assets\pdf\Histoire\1766\Réflexions-sur-le-pressentiment-Beausobre.pdf" download>
                    Beausobre - Réflexions sur le pressentiment
            </a>
           </li>
           <li>
                <a class="button" href="assets\pdf\Histoire\1766\Sur-la-durée-et-sur-intensité-plaisir-peine-Mérian.pdf" download>
                    Mérian - Sur la durée et sur l'intensité du plaisir et de la peine
                </a>
           </li>
           <li>
                <a class="button" href="assets\pdf\Histoire\1766\Discours-sur-les-avantages-de-la-vertu-Toussaint.pdf" download>
                    Toussaint - Discours sur les avantages de la vertu
                </a>
           </li>
           <br>
           <li>
                <a class="button" href="assets\pdf\Histoire\1766\Publication-intégrale-1766.pdf" download>
                    Publication intégrale 1766
                </a>
           </li>
           <li>
                <a class="button" href="assets\pdf\Histoire\1766\Table-des-matières-1766.pdf" download>
                   Table des matières 1766
                </a>
           </li>
        </ul>
    </mat-card-content>
</mat-card>

        <mat-card>
            <mat-card-actions>
                <a class="button1" (click)="clickCollapsed(23)">1767 »</a>
            </mat-card-actions>
            <mat-card-content *ngIf="!Collapsed(23)">
        <ul>
            <li>
                <a class="button" href="assets\pdf\Histoire\1767\Mémoire-premiers-principes-métaphysique-raison-suffisante-probabilités-4-Beguelin.pdf" download>
                    Beguelin - Mémoire sur les premiers principes de la métaphysique - Sur l'usage du principe de la raison suffisante dans le calcul des probabilités (quatrième mémoire)
                </a>
            </li>
            <li>
                <a class="button" href="assets\pdf\Histoire\1767\De-influence-des-belles-lettres-sur-la-philosophie-Bitaubé.pdf" download>
                    Bitaubé - De l'influence des belles-lettres sur la philosophie
                </a>
            </li>
            <li>
                <a class="button" href="assets\pdf\Histoire\1767\De-la-vraie-nature-du-beau-en-général-Catt.pdf" download>
                    Catt - De la vraie nature du beau en général
                </a>
            </li>
            <li>
                <a class="button" href="assets\pdf\Histoire\1767\Considérations-le-but-principal-des-académie-Formey.pdf" download>
                    Formey - Considérations sur ce qu'on peut regarder aujourd'hui comme le but principal des académies et comme leur effet le plus avantageux
                </a>
            </li>
            <li>
                <a class="button" href="assets\pdf\Histoire\1767\Observations-influence-réciproque-raison-langage-Sulzer.pdf" download>
                    Sulzer - Observations sur l'influence réciproque de la raison sur le langage et du langage sur la raison
                </a>
            </li>
            <li>
                <a class="button" href="assets\pdf\Histoire\1767\Discours-sur-la-sensibilité-pour-autrui-Toussaint.pdf" download>
                    Toussaint - Discours sur la sensibilité pour autrui
                </a>
            </li>
            <br>
            <li>
                <a class="button" href="assets\pdf\Histoire\1767\Publication-intégrale-1767.pdf" download>
                    Publication intégrale 1767
                </a>
            </li>
            <li>
                <a class="button" href="assets\pdf\Histoire\1767\Table-des-matières-1767.pdf" download>
                    Table des matières 1767
                </a>
            </li>
        </ul>
    </mat-card-content>
</mat-card>

        <mat-card>
            <mat-card-actions>
                <a class="button1" (click)="clickCollapsed(24)">1768 »</a>
            </mat-card-actions>
            <mat-card-content *ngIf="!Collapsed(24)">
        <ul>
            <li>
                <a class="button" href="assets\pdf\Histoire\1768\Réflexions-sur-la-nature-et-la-nécessité-des-idées-obscures-Beausobre.pdf" download>
                    Beausobre - Réflexions sur la nature et la nécessité des idées obscures
                </a>
            </li>
            <li>
                <a class="button" href="assets\pdf\Histoire\1768\Mémoire-premiers-principes-métaphysique-raison-suffisante-mécanique-4-Beguelin.pdf" download>
                    Beguelin - Mémoire sur les premiers principes de la métaphysique : De l'usage du principe de la raison suffisante dans les loix générales de la mécanique (cinquième mémoire)
                </a>
            </li>
            <li>
                <a class="button" href="assets\pdf\Histoire\1768\Mémoire-sur-un-problème-de-la-doctrine-du-hazard-Bernoulli.pdf" download>
                    Bernoulli - Mémoire sur un problème de la doctrine du hazard
                </a>
            </li>
            <li>
                    <a class="button" href="assets\pdf\Histoire\1768\Mémoire-Le peuple-est-il-juge-compétent-éloquence-Bitaubé.pdf" download>
                        Bitaubé -  Mémoire de cette question : Le peuple est-il juge compétent de l'éloquence
                    </a>
                </li>
                <li>
                        <a class="button" href="assets\pdf\Histoire\1768\Considérations-aujourd-hui-but principal-des-académies-second-discours-Formey.pdf" download>
                            Formey - Considérations sur ce qu'on peut regarder aujourd'hui comme le but principal des académies et comme leur effet le plus avantageux (second discours)
                        </a>
                    </li>
                    <li>
                            <a class="button" href="assets\pdf\Histoire\1768\De-la-bienfaisance-considérée-en-tant-qu-agissante-Toussaint.pdf" download>
                                Toussaint - De la bienfaisance considérée en tant qu'agissante
                            </a>
                        </li>
                        <br>
                        <li>
                                <a class="button" href="assets\pdf\Histoire\1768\Publication-intégrale-1768.pdf" download>
                                    Publication intégrale 1768
                                </a>
                            </li>
                            <li>
                                    <a class="button" href="assets\pdf\Histoire\1768\Table-des-matières-1768.pdf" download>
                                        Table des matières 1768
                                    </a>
                                </li>
        </ul>
    </mat-card-content>
</mat-card>

        <mat-card>
            <mat-card-actions>
                <a class="button1" (click)="clickCollapsed(25)">1769 »</a>
            </mat-card-actions>
            <mat-card-content *ngIf="!Collapsed(25)">
        <ul>
            <li>
                <a class="button" href="assets\pdf\Histoire\1769\Conciliation-des-idées-de-Newton-et-Leibnitz-sur-espace-vide-Beguelin.pdf" download>
                    Beguelin - Conciliation des idées de Newton et Leibnitz sur l'espace et le vide
                </a>
            </li>
            <li>
            <a class="button" href="assets\pdf\Histoire\1769\Sur-deux -propriétés-incompatibles-inertie-changement-Beguelin.pdf" download>
                 Beguelin - Sur deux propriétés des corps qui semblent incompatibles : l'inertie et la tendance au changement d'état
             </a>
        </li>
        <li>
            <a class="button" href="assets\pdf\Histoire\1769\Sur-la-culture-de-l-entendement-Formey.pdf" download>
                Formey - Sur la culture de l'entendement
             </a>
         </li>
        <li>
            <a class="button" href="assets\pdf\Histoire\1769\Discours-physionomie-avantages-connaissances-physionomiques-Pernety.pdf" download>
                 Pernety - Discours sur la physionomie et les avantages des connaissances physionomiques
            </a>
        </li>
         <li>
             <a class="button" href="assets\pdf\Histoire\1769\Considérations-psychologiques-sur-homme-moral-Sulzer.pdf" download>
                 Sulzer - Considérations psychologiques sur l'homme moral
            </a>
        </li>
        <li>
            <a class="button" href="assets\pdf\Histoire\1769\Qu-il-faut-combiner-ensemble-les-lettres-philosophie-Toussaint.pdf" download>
                Toussaint - Qu'il faut combiner ensemble les lettres et la philosophie
            </a>
        </li>
        <br>
        <li>
            <a class="button" href="assets\pdf\Histoire\1769\Publication-intégrale-1769.pdf" download>
                Publication intégrale 1769
            </a>
        </li>
        <li>
            <a class="button" href="assets\pdf\Histoire\1769\Table-des-matières-1769.pdf" download>
            Table des matières 1769
            </a>
        </li>
        </ul>
    </mat-card-content>
</mat-card>

      </div>
    </div>
</div>