<div class="container">
  <div class="card">
    <div class="box">
      <h1>
        Textes ayant remporté les concours choisis :
      </h1>
      <br>
      <ul>
        <li class="hangingindent">Justi, Dissertation qui a remporté le prix proposé par l’Académie royale des sciences et belles-lettres sur le système des monades avec les pièces qui ont concouru, Berlin, Haude et Spener, 1748.</li>
        <li class="hangingindent">Mendelssohn, Dissertation qui a remporté le prix proposé par l’Académie royale des sciences et belles-lettres de Prusse sur la nature, les espèces et les degrés de l’évidence avec les pièces qui ont concouru, Berlin, Haude et Spener, 1764.</li>
        <li class="hangingindent">Herder, Abhandlung über den Ursprung der Sprache, welche den von Königl. Akademie der Wissenschaften für das Jahr 1770 gesezten Preis erhalten hat, Berlin, Boss, 1772.</li>
        <li class="hangingindent">Eberhard, Allgemeine Theorie des Denkens und Empfindens. Eine Abhandlung welche den von der Königl. Akademie der Wissenschaften in Berlin auf das Jahr 1776 ausgesezten Preis erhalten hat, Berlin, Boss, 1776.</li>
        <li class="hangingindent">Fagaras, Dissertation sur la force primitive : qui a remporté le prix proposé par l’Académie Royale des sciences et belles-lettres pour l’année 1779, Berlin, Decker, 1780.</li>
      <br>
        <h1>
        Mémoires et œuvres d’Académiciens (sélection) :
        </h1>
      <br>
      <li class="hangingindent">Ancillon, Louis-Frédéric, « Réflexions sur les rapports de la synthèse psychologique et de la synthèse morale », BMAR 1788.</li>
      <li class="hangingindent">- « Essai d’une théorie de la sensibilité », BMAR 1790.</li>
      <li class="hangingindent">- « Considérations sur le principe de la pensée ou Examen du passage de Locke sur ce sujet », BMAR 1794.</li>
      <li class="hangingindent">- « Dialogue entre Berkeley et Hume », BMAR 1796.</li>
      <li class="hangingindent">- « Essai ontologique sur l’âme », BMAR 1796.</li>
      <li class="hangingindent">- « Considérations sur la différence de nos idées », BMAR 1800.</li>
      <li class="hangingindent">- « Mémoire sur les fondements de la métaphysique », BMAR 1800.</li>
      <li class="hangingindent">- « Réflexions sur le déterminisme et ses deux extrêmes », BMAR 1804.</li>
      <li class="hangingindent">Beausobre, Louis, Le pyrrhonisme raisonnable, Berlin, Chez Étienne de Bourdeaux, 1755.</li>
      <li class="hangingindent">- Essai sur le bonheur, ou réflexions philosophiques sur les biens et les maux de la vie humaine, Berlin, Haude et Spener, 1758.</li>
      <li class="hangingindent">- « Réflexions sur la nature et les causes de la folie », BHAR  1759.</li>
      <li class="hangingindent">- « Réflexions philosophiques sur les songes », BHAR 1762.</li>
      <li class="hangingindent">- « Réflexions philosophiques sur la certitude », BNMAR 1776.</li>
      <li class="hangingindent">Béguelin, Nicolas de, « Mémoires sur les principes métaphysiques », BHAR 1760-1768.</li>
      <li class="hangingindent">- « Conciliation des idées de Newton et de Leibniz », BHAR 1768-1769.</li>
      <li class="hangingindent">- « Recherche sur les unités de la nature », BNMAR 1778-1779.</li>
      <li class="hangingindent">Castillon, Jean, « Descartes et Locke conciliés », BNMAR 1770.</li>
      <li class="hangingindent">- « Recherche sur la liberté de l’homme », BMAR 1787.</li>
      <li class="hangingindent">- « Essai d’une théorie métaphysico-mathématique de l’expérience », BMAR 1790.</li>
      <li class="hangingindent">- « Réflexions sur les sens en général, et particulièrement sur les organes du sens intime », BMAR 1798.</li>
      <li class="hangingindent">- « Sur l’utilité de la philosophie », BMAR 1801.</li>
      <li class="hangingindent">- « Réflexions sur la logique », BMAR 1802.</li>
      <li class="hangingindent">Euler, Leonhard, Mechanica sive motus scientia analytice, Petropoli, 1736.</li>
      <li class="hangingindent">- « Sur la nature des moindres parties de la matière », BHAR 1745.</li>
      <li class="hangingindent">- « Réflexions sur l’espace et le temps », BHAR 1748.</li>
      <li class="hangingindent">- « Recherches sur l’origine des forces », BHAR 1750</li>
      <li class="hangingindent">- Opera Omnia, sub auspiciis Societatis Scientiarum Naturalium Helveticae, Basel, Springer, 1911-.</li>
      <li class="hangingindent">- Lettres à une Princesse d’Allemagne, Lausanne, Presses Polytechniques et Universitaires Romandes, 2003.</li>
      <li class="hangingindent">Formey, Samuel, « Essai sur les songes », BHAR 1746.</li>
      <li class="hangingindent">- « Examen de la preuve qu’on tire des fins de la nature », BHAR 1746.</li>
      <li class="hangingindent">- Recherches sur les éléments de la matière, Berlin, 1747.</li>
      <li class="hangingindent">- La belle Wolfienne, La Haye, Charles le Vier, 1741-1753.</li>
      <li class="hangingindent">- « De l’étendue de l’imagination », BHAR 1754.</li>
      <li class="hangingindent">- Principes élémentaires des belles-lettres, avec des réflexions sur les spectacles, Amsterdam, Schneider, 1763.</li>
      <li class="hangingindent">- « Considérations sur le but principal des académies », BHAR 1767.</li>
      <li class="hangingindent">-  Entretiens psychologiques, tirés de l'Essai analytique sur les facultés de l'Âme de Mr. Bonnet, Berlin, 1769.</li>
      <li class="hangingindent">- « Sur les rapports entre le savoir, l’esprit, le génie et le goût », BMAR 1788.</li>
      <li class="hangingindent">Garve, Christian, « Discours sur l’utilité des académies », BMAR 1788.</li>
      <li class="hangingindent">Lambert, Johann Heinrich, « Observations sur quelques dimensions du monde intellectuel », BHAR 1763.</li>
      <li class="hangingindent">- Philosophische Schriften, Hildesheim, Olms, 1965-.</li>
      <li class="hangingindent">- Cosmological Letters on the Arrangement of the World-Edifice, trans. by S. J. Laki, New York, Science History Publications, 1976.</li>
      <li class="hangingindent">- Neues Organon oder Gedanken über die Erforschung und Bezeichnung des Wahren und dessen Unterscheidung vom Irrtum und Schein, Berlin, Akademie Verlag, 1990.</li>
      <li class="hangingindent">- Nouvel Organon. La phénoménologie, trad. par G. Fanfalone, Paris, Vrin, 2002.</li>
      <li class="hangingindent">Maupertuis, Pierre Louis Moreau de, « Les lois du mouvement et du repos déduites d’un principe métaphysique », BHAR 1746.</li>
      <li class="hangingindent">- « Des devoirs de l’académicien », BHAR 1753.</li>
      <li class="hangingindent">- « Examen philosophique de la preuve de l’existence de Dieu employée dans l’Essai de cosmologie », BHAR 1756.</li>
      <li class="hangingindent">- Œuvres, Hildesheim, Olms, 1965.</li>
      <li class="hangingindent">Mérian, Jean-Bernard, « Mémoire sur l’aperception de soi-même », BHAR 1749.</li>
      <li class="hangingindent">- « Dissertation ontologique sur l’action, la puissance et la liberté », BHAR 1750.</li>
      <li class="hangingindent">- « Réflexions philosophiques sur la ressemblance », BHAR 1751</li>
      <li class="hangingindent">- « Sur le désir », BHAR 1760.</li>
      <li class="hangingindent">- « Sur le problème de Molyneux, BNMAR 1770-1780.</li>
      <li class="hangingindent">- « Analyse de la dissertation sur l’origine des langues de Mr. Herder », BNMAR 1781.</li>
      <li class="hangingindent">- « Sur le phénoménisme de David Hume », BMAR 1792.</li>
      <li class="hangingindent">- « Parallèle historique de nos deux philosophies nationales », Mémoires, 1797.</li>
      <li class="hangingindent">Sulzer, Johann Georg,  « Recherches sur l’origine des sentiments agréables et désagréables », BHAR 1751.</li>
      <li class="hangingindent">- « Explication d’un paradoxe psychologique », BHAR 1759.</li>
      <li class="hangingindent">- « Observations sur les divers états où l’âme se trouve », BHAR 1763.</li>
      <li class="hangingindent">- « Sur l’aperception et son influence sur nos jugements », BHAR 1764.</li>
      <li class="hangingindent">- Allgemeine Theorie der schönen Künste : in einzelnen, nach alphabetischer Ordnung der Kunstwörter aufeinanderfolgenden, artikeln abgehandelt, 1771-1774. Reproduction : Georg Olms, 1970, selon l’édition de C.F. Blankenburg.</li>
      <li class="hangingindent">- Vermischte philosophische Schriften, Leipzig, Weidmanns Erben und Reich, 1773.</li>
      <li class="hangingindent">- « Sur l’immortalité de l’âme », BNMAR 1775-1777.</li>
      <li class="hangingindent">- Gesammelte Schriften. Kommentierte Ausgabe, Band 1 : Kurzer Begriff aller Wissenschaften, herausgegeben von H. Adler und E. Décultot, Zürich, Schwabe, 2014.</li> 
      </ul>

    </div>

  </div>

</div>