<meta http-equiv="Content-Security-Policy" content="default-src *;
   img-src * 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *;
   style-src  'self' 'unsafe-inline' *">

<div class="container">
  <div class="card">
    <div class="box">
      <h1>
        Mémoires :
      </h1>

      <mat-card>
        <mat-card-actions>
            <a class="button1" (click)="clickCollapsed(1)">1786-1787 »</a>
        </mat-card-actions>
        <mat-card-content *ngIf="!Collapsed(1)">
      <ul>
          <li>
              <a class="button" href="assets\pdf\Memoire\1786-87\Considérations-sur-l-état-de-nature-Ancillon.pdf" download>
                  Ancillon - Considérations sur l'état de nature
              </a>
          </li>
          <li>
              <a class="button" href="assets\pdf\Memoire\1786-87\Analyse-principes-Aristote-gouvernement-observations-Bitaubé.pdf" download>
                  Bitaubé - Analyse des principes d'Aristote sur le gouvernement (suivie d'observations)
              </a>
          </li>
          <li>
              <a class="button" href="assets\pdf\Memoire\1786-87\Recherches-sur-la-liberté-de-homme-Castillon.pdf" download>
                  Castillon - Recherches sur la liberté de l'homme
              </a>
          </li>
          <li>
              <a class="button" href="assets\pdf\Memoire\1786-87\Traité-de-morale-élémentaire -introduction-Formey.pdf" download>
                  Formey - Traité de morale élémentaire (précédé de son introduction)
              </a>
          </li>
          <li>
              <a class="button" href="assets\pdf\Memoire\1786-87\De-la-réalité-et-de-l-idéalité-des-objets-connaissances-Selle.pdf" download>
                  Selle - De la réalité et de l'idéalité des objets de nos connaissances
              </a>
          </li>
          <br>
          <li>
              <a class="button" href="assets\pdf\Memoire\1786-87\Publication-intégrale-1786.pdf" download>
                  Publication intégrale 1786
              </a>
          </li>
          <li>
              <a class="button" href="assets\pdf\Memoire\1786-87\Histoire-de-l-Académie-de-1786-à-1787.pdf" download>
                  Histoire de l'Académie de 1786 à 1787
              </a>
          </li>
          <li>
              <a class="button" href="assets\pdf\Memoire\1786-87\Publication-intégrale-1786-1787.pdf" download>
                  Publication intégrale 1786-1787
              </a>
          </li>
          <li>
              <a class="button" href="assets\pdf\Memoire\1786-87\Table-des-matières-1786-87.pdf" download>
                  Table des matières 1786-87
              </a>
          </li>
      </ul>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-actions>
        <a class="button1" (click)="clickCollapsed(2)">1788-1789 »</a>
    </mat-card-actions>
    <mat-card-content *ngIf="!Collapsed(2)">
        <ul>
            <li>
                <a class="button" href="assets\pdf\Memoire\1788-89\Réflexions-rapports-synthèse-psychologique-synthèse-morale-Ancillon.pdf" download>
                    Ancillon - Réflexions sur les rapports de la synthèse psychologique et de la synthèse morale
                </a>
            </li>
            <li>
                <a class="button" href="assets\pdf\Memoire\1788-89\Éloge-de-M-de-Beguelin-Formey.pdf" download>
                    Formey - Éloge de M de Beguelin
                </a>
            </li>
            <li>
                <a class="button" href="assets\pdf\Memoire\1788-89\Sur-les-rapports-entre-le-savoir-l-esprit-le-génie-et-le-goût-Formey.pdf" download>
                    Formey - Sur les rapports entre le savoir, l'esprit, le génie et le goût
                </a>
            </li>
            <li>
                <a class="button" href="assets\pdf\Memoire\1788-89\Discours-sur-l-utilité-des-Académies-Garve.pdf" download>
                    Garve - Discours sur l'utilité des Académies
                </a>
            </li>
            <li>
                <a class="button" href="assets\pdf\Memoire\1788-89\Mémoire-règne-de-Frédéric-II-Gouvernement Monarchique-Gouvernement-Républicain-Hertzberg.pdf" download>
                    Hertzberg - Mémoire sur le règne de Frédéric II pour faire la preuve que le Gouvernement Monarchique peut être bon et même préférable à tout Gouvernement Républicain
                </a>
            </li>
            <li>
                <a class="button" href="assets\pdf\Memoire\1788-89\Sur-la-correspondance-de-nos-idées-avec-les-objets-Schwab.pdf" download>
                    Schwab - Sur la correspondance de nos idées avec les objets
                </a>
            </li>
            <li>
                <a class="button" href="assets\pdf\Memoire\1788-89\Précis-mémoire-sur-les-lois-de-nos-actions-Selle.pdf" download>
                    Selle - Précis d'un mémoire sur les lois de nos actions
                </a>
            </li>
            <br>
            <li>
                <a class="button" href="assets\pdf\Memoire\1788-89\Publication-intégrale-1788-1789.pdf" download>
                    Publication intégrale 1788-1789
                </a>
            </li>
            <li>
                <a class="button" href="assets\pdf\Memoire\1788-89\Table-des-matières-1786-87.pdf" download>
                    Table des matières 1788-89
                </a>
            </li>
        </ul>
    </mat-card-content>
</mat-card>
        
        <mat-card>
            <mat-card-actions>
                <a class="button1" (click)="clickCollapsed(3)">1790-1791 »</a>
            </mat-card-actions>
            <mat-card-content *ngIf="!Collapsed(3)">
          <ul>
              <li>
                  <a class="button" href="assets\pdf\Memoire\1790-91\Essai-Théorie-de-la-sensibilité-Ancillon.pdf" download>
                      Ancillon - Essai d'une Théorie de la sensibilité
                  </a>
              </li>
              <li>
                  <a class="button" href="assets\pdf\Memoire\1790-91\Observations-psychologiques-sur-effet-ouvrages-Génie-Ancillon.pdf" download>
                      Ancillon - Observations psychologiques sur l'effet des ouvrages de Génie
                  </a>
              </li>
              <li>
                  <a class="button" href="assets\pdf\Memoire\1790-91\Sur-connaissances-mathématiques-Aristote-premier-second-mémoire-Bürja.pdf" download>
                      Bürja - Sur les connaissances mathématiques d'Aristote (premier et second mémoire)
                  </a>
              </li>
              <li>
                  <a class="button" href="assets\pdf\Memoire\1790-91\Essai-Théorie-métaphysicomathématique-de-Expérience-Castillon.pdf" download>
                      Castillon - Essai d'une Théorie métaphysicomathématique de l'Expérience
                  </a>
              </li>
              <li>
                  <a class="button" href="assets\pdf\Memoire\1790-91\Examen-philosophique-de-quelques-principes-Algèbre-1-2-Castillon.pdf" download>
                      Castillon - Examen philosophique de quelques principes de l_Algèbre (premier et second mémoire)
                  </a>
              </li>
              <li>
                  <a class="button" href="assets\pdf\Memoire\1790-91\Mémoire-sur-Thucydide-Meierotto.pdf" download>
                      Meierotto - Mémoire sur Thucydide
                  </a>
              </li>
              <li>
                  <a class="button" href="assets\pdf\Memoire\1790-91\Comment-les-sciences-influent-dans-la-poésie-5-4-Mérian.pdf" download>
                      Mérian - Comment les sciences influent dans la poésie (cinquième mémoire - section 4)
                  </a>
              </li>
              <br>
              <li>
                  <a class="button" href="assets\pdf\Memoire\1790-91\Publication-intégrale-1790-1791.pdf" download>
                      Publication intégrale 1790-1791
                  </a>
              </li>
              <li>
                  <a class="button" href="assets\pdf\Memoire\1790-91\Table-des-matières-1790-91.pdf" download>
                      Table des matières 1790-91
                  </a>
              </li>
          </ul>
        </mat-card-content>
    </mat-card>
          
          <mat-card>
            <mat-card-actions>
                <a class="button1" (click)="clickCollapsed(4)">1792-1793 »</a>
            </mat-card-actions>
            <mat-card-content *ngIf="!Collapsed(4)">
            <ul>
                <li>
                    <a class="button" href="assets\pdf\Memoire\1792-93\Mémoire-Certitude-particulier-nature-Certitude-humaine-Ancillon.pdf" download>
                        Ancillon - Mémoire sur la Certitude, et en particulier sur la nature de la Certitude humaine
                    </a>
                </li>
                <li>
                    <a class="button" href="assets\pdf\Memoire\1792-93\Table-des-matières-1790-91.pdf" download>
                        Castillon - Éloge de M de Castillon, père
                    </a>
                </li>
                <li>
                    <a class="button" href="assets\pdf\Memoire\1792-93\De-l-influence-Académie-de-Berlin-autres-grands-établissements-Denina.pdf" download>
                        Denina - De l'influence qu'a eue l'Académie de Berlin sur d'autres grands établissements de la même nature
                    </a>
                </li>
                <li>
                    <a class="button" href="assets\pdf\Memoire\1792-93\Considérations-sur-le-fanatisme-Formey.pdf" download>
                        Formey - Considérations sur le fanatisme
                    </a>
                </li>
                <li>
                    <a class="button" href="assets\pdf\Memoire\1792-93\Sur-le-phénoménisme-de-David-Hume-Mérian.pdf" download>
                        Mérian - Sur le phénoménisme de David Hume
                    </a>
                </li>
                <br>
                <li>
                    <a class="button" href="assets\pdf\Memoire\1792-93\Publication-intégrale-1792-1793.pdf" download>
                        Publication intégrale 1792-1793
                    </a>
                </li>
                <li>
                    <a class="button" href="assets\pdf\Memoire\1792-93\Table-des-matières-1792-93.pdf" download>
                        Table des matières 1792-93
                    </a>
                </li>
            </ul>
        </mat-card-content>
    </mat-card>
          
            <mat-card>
                <mat-card-actions>
                    <a class="button1" (click)="clickCollapsed(5)">1794-1795 »</a>
                </mat-card-actions>
                <mat-card-content *ngIf="!Collapsed(5)">
              <ul>
              <li>
                  <a class="button" href="assets\pdf\Memoire\1794-95\Considérations-principe-pensée-Examen-passage-Locke-Ancillon.pdf" download>
                      Ancillon - Considérations sur le principe de la pensée ou Examen du passage de Locke sur ce sujet
                  </a>
              </li>
              <li>
                  <a class="button" href="assets\pdf\Memoire\1794-95\Considérations-devoirs-droits-gens-lettres-société-civile-premier-mémoire-Goyon-Arzac.pdf" download>
                      d'Arzac, Goyon - Considérations sur les devoirs et les droits des gens de lettres dans la société civile (premier mémoire)
                  </a>
              </li>
              <li>
                  <a class="button" href="assets\pdf\Memoire\1794-95\Essai-lumières-sentiments-doit-surtout-chercher-à-inspirer-premier-mémoire-Trembley.pdf" download>
                      Trembley - Essai sur ces questions : Quelles sont les lumières qu'il importe le plus aux hommes d'acquérir ; Quels sont les sentiments qu'on doit surtout chercher à inspirer (premier mémoire)
                  </a>
              </li>
              <br>
              <li>
                  <a class="button" href="assets\pdf\Memoire\1794-95\Publication-intégrale-1794-1795.pdf" download>
                      Publication intégrale 1794-1795
                  </a>
              </li>
              <li>
                  <a class="button" href="assets\pdf\Memoire\1794-95\Table-des-matières-1794-95.pdf" download>
                      Table des matières 1794-95
                  </a>
              </li>
              </ul>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-actions>
                <a class="button1" (click)="clickCollapsed(6)">1796 »</a>
            </mat-card-actions>
            <mat-card-content *ngIf="!Collapsed(6)">
                    <ul>
                  <li>
                      <a class="button" href="assets\pdf\Memoire\1796\Dialogue-entre-Berkeley-et-Hume-Ancillon.pdf" download>
                          Ancillon - Dialogue entre Berkeley et Hume
                      </a>
                  </li>
                  <li>
                      <a class="button" href="assets\pdf\Memoire\1796\Essai-ontologique-sur-âme-Ancillon.pdf" download>
                          Ancillon - Essai ontologique sur l'âme
                      </a>
                  </li>
                  <li>
                      <a class="button" href="assets\pdf\Memoire\1796\Considérations-devoirs-droits-gens-lettres-société-civile-second-mémoire-Goyon-Arzac.pdf" download>
                          d'Arzac, Goyon - Considérations sur les devoirs et les droits des gens de lettres dans la société civile (second mémoire)
                      </a>
                  </li>
                  <li>
                      <a class="button" href="assets\pdf\Memoire\1796\Essai-Montaigne-moderné-Bastide.pdf" download>
                          Bastide - Essai d'un «Montaigne moderné»
                      </a>
                  </li>
                  <li>
                      <a class="button" href="assets\pdf\Memoire\1796\Mémoire-sur-les-probabilités-Prevost-Huillier.pdf" download>
                          L'Huillier, Prevost - Mémoire sur les probabilités
                      </a>
                  </li>
                  <li>
                      <a class="button" href="assets\pdf\Memoire\1796\Remarques-utilité-étendue-probabilité-des-causes-Prevost-Huillier.pdf" download>
                          L'Huillier, Prevost - Remarques sur l'utilité et l'étendue du principe par lequel on estime la probabilité des causes
                      </a>
                  </li>
                  <li>
                      <a class="button" href="assets\pdf\Memoire\1796\Sur-la-liberté-et-du-pouvoir-coactif-Selle.pdf" download>
                          Selle - Sur la liberté et du pouvoir coactif
                      </a>
                  </li>
                  <li>
                      <a class="button" href="assets\pdf\Memoire\1796\Sur-la-propriété-Selle.pdf" download>
                          Selle - Sur la propriété
                      </a>
                  </li>
                  <li>
                      <a class="button" href="assets\pdf\Memoire\1796\Sur-les-éléments-physiques-Selle.pdf" download>
                          Selle - Sur les éléments physiques
                      </a>
                  </li>
                  <li>
                      <a class="button" href="assets\pdf\Memoire\1796\Essai-lumières-hommes-acquérir-sentiments-Second-mémoire-Trembley.pdf" download>
                          Trembley - Essai sur cette question - Quelles sont les lumières qu'il importe le plus aux hommes d'acquérir, et quels sont les sentiments qu'on doit surtout chercher à leur inspirer (Second mémoire)
                      </a>
                  </li>
                  <br>
                  <li>
                      <a class="button" href="assets\pdf\Memoire\1796\Publication-intégrale-1796.pdf" download>
                          Publication intégrale 1796
                      </a>
                  </li>
                  <li>
                      <a class="button" href="assets\pdf\Memoire\1796\Table-des-matières-1796.pdf" download>
                          Table des matières 1796
                      </a>
                  </li>
                </ul>
            </mat-card-content>
        </mat-card>
                
                <mat-card>
                    <mat-card-actions>
                        <a class="button1" (click)="clickCollapsed(7)">1797 »</a>
                    </mat-card-actions>
                    <mat-card-content *ngIf="!Collapsed(7)">
                <ul>
                    <li>
                        <a class="button" href="assets\pdf\Memoire\1797\Mémoire-sur-les-Pressentiments-Ancillon.pdf" download>
                            Ancillon - Mémoire sur les Pressentiments
                        </a>
                    </li>
                    <li>
                        <a class="button" href="assets\pdf\Memoire\1797\Considérations-devoirs-droits-gens-de-lettres-société-civile-troisième-Goyon-Arzac.pdf" download>
                            d'Arzac, Goyon - Considérations sur les devoirs et les droits des gens de lettres dans la société civile (troisième et dernier mémoire)
                        </a>
                    </li>
                     <li>
                        <a class="button" href="assets\pdf\Memoire\1797\Essai-Montaigne-moderné-Observations-grammaticales-critiques-Bastide.pdf" download>
                            Bastide - Essai d'un «Montaigne moderné» (suite) : Observations grammaticales et critiques
                        </a>
                    </li>
                    <li>
                        <a class="button" href="assets\pdf\Memoire\1797\Mémoire-Calcul-probabilités-témoignage-notes-addtionnelles-Prevost-Huillier.pdf" download>
                            L'Huillier, Prevost - Mémoire sur l'application du Calcul des probabilités à la valeur du témoignage (avec notes addtionnelles)
                        </a>
                    </li>
                    <li>
                        <a class="button" href="assets\pdf\Memoire\1797\Éloge-de-Monsieur-Formey-Mérian.pdf" download>
                            Mérian - Éloge de Monsieur Formey
                        </a>
                    </li>
                    <li>
                        <a class="button" href="assets\pdf\Memoire\1797\Parallèle-historique-deux-Philosophies-nationales-Mérian.pdf" download>
                            Mérian - Parallèle historique de nos deux Philosophies nationales
                        </a>
                    </li>
                    <li>
                        <a class="button" href="assets\pdf\Memoire\1797\Du-droit-naturel-Selle.pdf" download>
                            Selle - Du droit naturel
                        </a>
                    </li>
                    <li>
                        <a class="button" href="assets\pdf\Memoire\1797\Essai-Quelles-lumières-hommes-sentiments-Troisième-mémoire-Trembley.pdf" download>
                            Trembley - Essai sur cette question- Quelles sont les lumières qu'il importe le plus aux hommes d'acquérir, et quels sont les sentiments qu'on doit surtout chercher à leur inspirer (Troisième mémoire)
                        </a>
                    </li>
                    <br>
                    <li>
                        <a class="button" href="assets\pdf\Memoire\1797\Publication-intégrale-1797.pdf" download>
                            Publication intégrale 1797
                        </a>
                    </li>
                    <li>
                        <a class="button" href="assets\pdf\Memoire\1797\Table-des-matières-1797.pdf" download>
                            Table des matières 1797
                        </a>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
                  
                <mat-card>
                    <mat-card-actions>
                        <a class="button1" (click)="clickCollapsed(8)">1798 »</a>
                    </mat-card-actions>
                    <mat-card-content *ngIf="!Collapsed(8)">
                    <ul>
                        <li>
                        <a class="button" href="assets\pdf\Memoire\1798\Observations-grammaticales-critiques-Montaigne-occasion-Bastide.pdf" download>
                            Bastide - Observations grammaticales et critiques sur Montaigne, ou à son occasion
                        </a>
                    </li>
                    <li>
                        <a class="button" href="assets\pdf\Memoire\1798\Réflexions-Sens-en-général-particulièrement-Organes-du-Sens-intime-Castillon.pdf" download>
                            Castillon - Réflexions sur les Sens en général, et particulièrement sur les Organes du Sens intime
                        </a>
                    </li>
                    <li>
                        <a class="button" href="assets\pdf\Memoire\1798\Sur-proportion-Moralité-Bonheur-Existence-de-Dieu-Schwab.pdf" download>
                            Schwab - Sur la proportion entre la Moralité et le Bonheur relativement à un nouvel argument pour l'Existence de Dieu
                        </a>
                    </li>
                    <br>
                    <li>
                        <a class="button" href="assets\pdf\Memoire\1798\Publication-intégrale-1798.pdf" download>
                            Publication intégrale 1798
                        </a>
                    </li>
                    <li>
                        <a class="button" href="assets\pdf\Memoire\1798\Table-des-matières-1798.pdf" download>
                            Table des matières 1798
                        </a>
                    </li>
                    </ul>
                </mat-card-content>
            </mat-card>
                    
                    <mat-card>
                        <mat-card-actions>
                            <a class="button1" (click)="clickCollapsed(9)">1799-1800 »</a>
                        </mat-card-actions>
                        <mat-card-content *ngIf="!Collapsed(9)">
                      <ul>
                        <li>
                            <a class="button" href="assets\pdf\Memoire\1799-1800\Considérations-sur-la-différence-de-nos-idées-Ancillon.pdf" download>
                                Ancillon - Considérations sur la différence de nos idées
                            </a>
                        </li>
                        <li>
                            <a class="button" href="assets\pdf\Memoire\1799-1800\Mémoire-fondements-de-la-Métaphysique-Ancillon.pdf" download>
                                Ancillon - Mémoire sur les fondements de la Métaphysique
                            </a>
                        </li>
                        <li>
                            <a class="button" href="assets\pdf\Memoire\1799-1800\Observations-grammaticales-critiques-Montaigne-troisième-dernier-mémoire-Bastide.pdf" download>
                                Bastide - Observations grammaticales et critiques sur Montaigne, ou à son occasion (troisième et dernier mémoire)
                            </a>
                        </li>
                        <li>
                            <a class="button" href="assets\pdf\Memoire\1799-1800\Anecdotes-Histoire-des-Mathématiques-première-partie-Bernoulli.pdf" download>
                                Bernoulli - Anecdotes pour servir à l'Histoire des Mathématiques (première partie)
                            </a>
                        </li>
                        <li>
                            <a class="button" href="assets\pdf\Memoire\1799-1800\Mémoire-touchant-influence-des-Signes-formation-des-idées-Castillon.pdf" download>
                                Castillon - Mémoire touchant l'influence des Signes sur la formation des idées
                            </a>
                        </li>
                        <li>
                            <a class="button" href="assets\pdf\Memoire\1799-1800\Réflexions-Sens-en-généra-sur-leur-nombre-organes-second-mémoire-Castillon.pdf" download>
                                Castillon - Réflexions sur les Sens en général, et en particulier sur leur nombre et sur leurs organes (second mémoire)
                            </a>
                        </li>
                        <li>
                            <a class="button" href="assets\pdf\Memoire\1799-1800\Observations-passage-Dialogue-Platon-intitulé-Ménon-Trembley.pdf" download>
                                Trembley - Observations sur un passage du Dialogue de Platon, intitulé Ménon
                            </a>
                        </li>
                        <br>
                        <li>
                            <a class="button" href="assets\pdf\Memoire\1799-1800\Publication-intégrale-1799-1800.pdf" download>
                                Publication intégrale 1799-1800
                            </a>
                        </li>
                        <li>
                            <a class="button" href="assets\pdf\Memoire\1799-1800\Table-des-matières-1799-1800.pdf" download>
                                Table des matières 1799-1800
                            </a>
                        </li>
                      </ul>
                    </mat-card-content>
                </mat-card>
                      
                      <mat-card>
                        <mat-card-actions>
                            <a class="button1" (click)="clickCollapsed(10)">1801 »</a>
                        </mat-card-actions>
                        <mat-card-content *ngIf="!Collapsed(10)">
                        <ul>
                        <li>
                            <a class="button" href="assets\pdf\Memoire\1801\Considérations-sur-analyse-des-principes-dans-les-sciences-Ancillon.pdf" download>
                                Ancillon - Considérations sur l'analyse des principes dans les sciences
                            </a>
                        </li>
                        <li>
                            <a class="button" href="assets\pdf\Memoire\1801\Examen-métaphysique-des-Grecs-questions-relatives-au-monde-Ancillon.pdf" download>
                                Ancillon - Examen de la métaphysique des Grecs dans les questions relatives au monde
                            </a>
                        </li>
                        <li>
                            <a class="button" href="assets\pdf\Memoire\1801\Pensées-philosophiques-et-morales-et-suite-Ancillon.pdf" download>
                                Ancillon - Pensées philosophiques et morales (et suite)
                            </a>
                        </li>
                        <li>
                            <a class="button" href="assets\pdf\Memoire\1801\Mémoire-Question-origine-des-connaissance-humaines-Castillon.pdf" download>
                                Castillon - Mémoire sur la Question de l'origine des connaissance humaines
                            </a>
                        </li>
                        <li>
                            <a class="button" href="assets\pdf\Memoire\1801\Sur-l-utilité-de-la-philosophie-Castillon.pdf" download>
                                Castillon - Sur l'utilité de la philosophie
                            </a>
                        </li>
                        <li>
                            <a class="button" href="assets\pdf\Memoire\1801\Sur-l-origine-de-l-idée-de-la-force-Engel.pdf" download>
                                Engel - Sur l'origine de l'idée de la force
                            </a>
                        </li>
                        <li>
                            <a class="button" href="assets\pdf\Memoire\1801\Sur-la-Réalité-des-Idées-générales-abstraites-Engel.pdf" download>
                                Engel - Sur la Réalité des Idées générales ou abstraites
                            </a>
                        </li>
                        <br>
                        <li>
                            <a class="button" href="assets\pdf\Memoire\1801\Publication-intégrale-1801.pdf" download>
                                Publication intégrale 1801
                            </a>
                        </li>
                        <li>
                            <a class="button" href="assets\pdf\Memoire\1801\Table-des-matières-1801.pdf" download>
                                Table des matières 1801
                            </a>
                        </li>
                        </ul>
                    </mat-card-content>
                </mat-card>
                        
                        <mat-card>
                            <mat-card-actions>
                                <a class="button1" (click)="clickCollapsed(11)">1802 »</a>
                            </mat-card-actions>
                            <mat-card-content *ngIf="!Collapsed(11)">
                          <ul>
                            <li>
                                <a class="button" href="assets\pdf\Memoire\1802\Pensées-philosophiques-et-morales-seconde-suite-Ancillon.pdf" download>
                                    Ancillon - Pensées philosophiques et morales (seconde suite)
                                </a>
                            </li>
                            <li>
                                <a class="button" href="assets\pdf\Memoire\1802\Anecdotes-Histoire-des -Mathématiques-première-partie-article-second-troisième-Bernoulli.pdf" download>
                                    Bernoulli - Anecdotes pour servir à l'Histoire des Mathématiques (première partie - article second et troisième)
                                </a>
                            </li>
                            <li>
                                <a class="button" href="assets\pdf\Memoire\1802\Sur-la-certitude-des-sciences-mathématiques-Bürja.pdf" download>
                                    Bürja - Sur la certitude des sciences mathématiques
                                </a>
                            </li>
                            <li>
                                <a class="button" href="assets\pdf\Memoire\1802\Du-noble-orgueil-vanité-gens-de-lettre-Castillon.pdf" download>
                                    Castillon - Du noble orgueil, de la vanité, surtout des gens de lettre
                                </a>
                            </li>
                            <li>
                                <a class="button" href="assets\pdf\Memoire\1802\Éloge-de-Monsieur-Selle-Mérian.pdf" download>
                                    Mérian - Éloge de Monsieur Selle
                                </a>
                            </li>
                            <li>
                                <a class="button" href="assets\pdf\Memoire\1802\Quelques-remarques-sur-âme-humaine-explication-Timée-Prevost.pdf" download>
                                    Prevost - Quelques remarques sur l'âme humaine, suivies de l'explication d'un passage du Timée
                                </a>
                            </li>
                            <br>
                            <li>
                                <a class="button" href="assets\pdf\Memoire\1801\Publication-intégrale-1802.pdf" download>
                                    Publication intégrale 1802
                                </a>
                            </li>
                            <li>
                                <a class="button" href="assets\pdf\Memoire\1802\Table-des-matières-1802.pdf" download>
                                    Table des matières 1802
                                </a>
                            </li>
                          </ul>
                        </mat-card-content>
                    </mat-card>
                          
                          <mat-card>
                            <mat-card-actions>
                                <a class="button1" (click)="clickCollapsed(12)">1803 »</a>
                            </mat-card-actions>
                            <mat-card-content *ngIf="!Collapsed(12)">
                            <ul>
                                <li>
                                    <a class="button" href="assets\pdf\Memoire\1803\Discours-de-réception-Ancillon.pdf" download>
                                    Ancillon - Discours de réception
                                    </a>
                                </li>
                                <li>
                                    <a class="button" href="assets\pdf\Memoire\1803\Montaigne-commenté-à-neuf-Bastide.pdf" download>
                                    Bastide - Montaigne commenté à neuf
                                    </a>
                                </li>
                                <li>
                                    <a class="button" href="assets\pdf\Memoire\1803\Essai-théorie-nouvelle-existence-éléments-physiques-phénomènes-généraux-Hermbstaedt.pdf" download>
                                    Hermbstaedt - Essai d'une théorie nouvelle de l'existence et des qualités des éléments physiques déduite des phénomènes généraux
                                    </a>
                                </li>
                                <li>
                                    <a class="button" href="assets\pdf\Memoire\1803\Éloge-de-Monsieur-Engel-Nicolaï.pdf" download>
                                    Nicolaï - Éloge de Monsieur Engel
                                    </a>
                                </li>
                                <li>
                                    <a class="button" href="assets\pdf\Memoire\1803\Observations-sur-la-Philosophie-des-Poètes-Trembley.pdf" download>
                                    Trembley - Observations sur la Philosophie des Poètes
                                    </a>
                                </li>
                                <br>
                                <li>
                                    <a class="button" href="assets\pdf\Memoire\1803\Publication-intégrale-1803.pdf" download>
                                    Publication intégrale 1803
                                    </a>
                                </li>
                                <li>
                                    <a class="button" href="assets\pdf\Memoire\1803\Table-des-matières-1803.pdf" download>
                                    Table des matières 1803
                                    </a>
                                </li>
                            </ul>
                        </mat-card-content>
                    </mat-card>
                           
                            <mat-card>
                                <mat-card-actions>
                                    <a class="button1" (click)="clickCollapsed(13)">1804 »</a>
                                </mat-card-actions>
                                <mat-card-content *ngIf="!Collapsed(13)">
                            <ul>
                                <li>
                                    <a class="button" href="assets\pdf\Memoire\1804\Considérations-sur-idée-sentiment-Infini-Ancillon.pdf" download>
                                    Ancillon - Considérations sur l'idée et le sentiment de l'Infini
                                    </a>
                                </li>
                                <li>
                                    <a class="button" href="assets\pdf\Memoire\1804\Réflexions-sur-le-Déterminisme-et-ses-deux-extrêmes-Ancillon.pdf" download>
                                    Ancillon - Réflexions sur le Déterminisme et ses deux extrêmes
                                    </a>
                                </li>
                                <li>
                                    <a class="button" href="assets\pdf\Memoire\1804\Recherches-Principe-du-Beau-la-Musique-Castillon.pdf" download>
                                    Castillon - Recherches sur le Principe du Beau et sur son application à la Musique
                                    </a>
                                </li>
                                <br>
                                <li>
                                    <a class="button" href="assets\pdf\Memoire\1804\Publication-intégrale-1804.pdf" download>
                                    Publication intégrale 1804
                                    </a>
                                </li>
                                <li>
                                    <a class="button" href="assets\pdf\Memoire\1804\Table-des-matières-1804.pdf" download>
                                    Table des matières 1804
                                    </a>
                                </li>
                            </ul>
                        </mat-card-content>
                    </mat-card>
    </div>
  </div>
</div>