<meta http-equiv="Content-Security-Policy" content="default-src *;
   img-src * 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *;
   style-src  'self' 'unsafe-inline' *">

<div class="container">
  <div class="card">
    <div class="box">

      <h1>
        Nouveaux Mémoires :
      </h1>
                <mat-card>
                  <mat-card-actions>
                    <a class="button1" (click)="clickCollapsed(1)">1770 »</a>
                </mat-card-actions>
                <mat-card-content *ngIf="!Collapsed(1)">
                <ul>
                    <li>
                        <a class="button" href="assets\pdf\Nouveaux\1770\Sur-indifférence-équilibre-principe-du-choix-Beguelin.pdf" download>
                            Beguelin - Sur l'indifférence d'équilibre et le principe du choix
                        </a>
                    </li>
                    <li>
                        <a class="button" href="assets\pdf\Nouveaux\1770\Descartes-et-Locke-conciliés-Castillon.pdf" download>
                            Castillon - Descartes et Locke conciliés
                        </a>
                    </li>
                    <li>
                        <a class="button" href="assets\pdf\Nouveaux\1770\Sur-la-vraie-idée-de-la-Philosophie-pratique-Catt.pdf" download>
                            Catt - Sur la vraie idée de la Philosophie pratique
                        </a>
                    </li>
                    <li>
                        <a class="button" href="assets\pdf\Nouveaux\1770\Considérations-Encyclopédie-faisable-Formey.pdf" download>
                            Formey - Considérations sur l'Encyclopédie en tant que faisable, faite ou à faire
                        </a>
                    </li>
                    <li>
                        <a class="button" href="assets\pdf\Nouveaux\1770\Sur-le-problème-de-Molyneux-Premier-mémoire-Mérian.pdf" download>
                            Mérian - Sur le problème de Molyneux (Premier mémoire)
                        </a>
                    </li>
                    <li>
                        <a class="button" href="assets\pdf\Nouveaux\1770\Discours-physionomie-avantages-connaissances-physionomiques-second-discours-Pernety.pdf" download>
                            Pernety - Discours sur la physionomie et les avantages des connaissances physionomiques (second discours)
                        </a>
                    </li>
                    <li>
                        <a class="button" href="assets\pdf\Nouveaux\1770\Discours-physionomie-avantages-connaissances-physionomiques-troisième-discours-Pernety.pdf" download>
                            Pernety - Discours sur la physionomie et les avantages des connaissances physionomiques (troisième discours)
                        </a>
                    </li>
                    <li>
                        <a class="button" href="assets\pdf\Nouveaux\1770\Discours-physionomie-avantages-connaissances-physionomiques-quatrième-discours-Pernety.pdf" download>
                            Pernety - Discours sur la physionomie et les avantages des connaissances physionomiques (quatrième mémoire)
                        </a>
                    </li>
                    <li>
                        <a class="button" href="assets\pdf\Nouveaux\1770\Développement-de-la-Notion-de-Être-éternel-Sulzer.pdf" download>
                            Sulzer - Développement de la Notion de l'Être éternel
                        </a>
                    </li>
                    <li>
                        <a class="button" href="assets\pdf\Nouveaux\1770\Sur-la-philosophie-de-histoire-premier-mémoire-Wegelin.pdf" download>
                            Wegelin - Sur la philosophie de l'histoire (premier mémoire)
                        </a>
                    </li>
                    <br>
                    <li>
                        <a class="button" href="assets\pdf\Nouveaux\1770\Avertissement-au-volume-de-1770.pdf" download>
                            Avertissement au volume de 1770
                        </a>
                    </li>
                    <li>
                        <a class="button" href="assets\pdfNouveaux\1770\Publication-intégrale-1770.pdf" download>
                            Publication intégrale 1770
                        </a>
                    </li>
                    <li>
                        <a class="button" href="assets\pdf\Nouveaux\1770\Table-des-matières-1770.pdf" download>
                            Table des matières 1770
                        </a>
                    </li>
                </ul>
              </mat-card-content>
          </mat-card>

        <mat-card>
          <mat-card-actions>
            <a class="button1" (click)="clickCollapsed(2)">1771 »</a>
        </mat-card-actions>
        <mat-card-content *ngIf="!Collapsed(2)">
              <ul>
                  <li>
                      <a class="button" href="assets\pdf\Nouveaux\1771\Sur-Origine-du-langage-Herder.pdf" download>
                          Herder - Sur l'Origine du langage
                      </a>
                  </li>
                  <li>
                      <a class="button" href="assets\pdf\Nouveaux\1771\Sur-le-problème-de-Molyneux-second-mémoire-Mérian.pdf" download>
                          Mérian - Sur le problème de Molyneux (second mémoire)
                      </a>
                  </li>
                  <li>
                      <a class="button" href="assets\pdfNouveaux\1771\Observations-propriétés-âme-matière-Matérialisme-Sulzer.pdf" download>
                          Sulzer - Observations sur quelques propriétés de l'âme comparées à celles de la matière pour servir à l'examen du Matérialisme
                      </a>
                  </li>
                  <br>
                  <li>
                      <a class="button" href="assets\pdfNouveaux\1771\Publication-intégrale-1771.pdf" download>
                          Publication intégrale 1771
                      </a>
                  </li>
                  <li>
                      <a class="button" href="assets\pdf\Nouveaux\1771\Table-des-matières-1771.pdf" download>
                          Table des matières 1771
                      </a>
                  </li>
              </ul>
              </mat-card-content>
            </mat-card>
        
        <mat-card>
          <mat-card-actions>
            <a class="button1" (click)="clickCollapsed(3)">1772 »</a>
        </mat-card-actions>
        <mat-card-content *ngIf="!Collapsed(3)">
              <ul>
              <li>
                <a class="button" href="assets\pdf\Nouveaux\1772\Application-principe-raison-suffisante-Théorème-Fermat-nombres-polygonaux-Beguelin.pdf" download>
                    Beguelin - Application du principe de la raison suffisante à la démonstration d'un Théorème de M. Fermat sur les nombres polygonaux
                </a>
              </li>
              <li>
                  <a class="button" href="assets\pdf\Nouveaux\1772\Premier-mémoire-sur-l-éloquence-Borrelly.pdf" download>
                      Borrelly - Premier mémoire sur l'éloquence
                  </a>
                </li>
                <li>
                    <a class="button" href="assets\pdf\Nouveaux\1772\Sur-le-beau-et-sur-la-pensée-en-littérature-Catt.pdf" download>
                        Catt - Sur le beau et sur la pensée en littérature
                    </a>
                  </li>
                  <li>
                      <a class="button" href="assets\pdf\Nouveaux\1772\Sur-divers-objets-Philosophie-particulièrement-celle-de-Leibnitz-Cochius.pdf" download>
                          Cochius - Sur divers objets appartenants à la Philosophie et particulièrement à celle de Leibnitz
                      </a>
                    </li>
                    <li>
                        <a class="button" href="assets\pdf\Nouveaux\1772\Discours-Pourquoi-personnes-peu-de-goût-éducation-de-ces-idées-Formey.pdf" download>
                            Formey - Discours sur la question : Pourquoi tant de personnes ont si peu de goût, Et l'éducation de ces idées
                        </a>
                      </li>
                      <li>
                          <a class="button" href="assets\pdf\Nouveaux\1772\Discours-utilité-des-Sciences-Arts-dans-un-état-Friedrich II.pdf" download>
                              Friedrich II - Discours sur l'utilité des Sciences et des Arts dans un état
                          </a>
                        </li>
                        <li>
                            <a class="button" href="assets\pdf\Nouveaux\1772\Sur-le-problème-de-Molyneux-troisième-mémoire-Mérian.pdf" download>
                                Mérian - Sur le problème de Molyneux (troisième mémoire)
                            </a>
                          </li>  
                          <li>
                              <a class="button" href="assets\pdf\Nouveaux\1772\Sur-la-philosophie-de-histoire-second-mémoire-Wegelin.pdf" download>
                                  Wegelin - Sur la philosophie de l'histoire (second mémoire)
                              </a>
                            </li>
              <br>
              <li>
                <a class="button" href="assets\pdf\Nouveaux\1772\Publication-intégrale-1772.pdf" download>
                  Publication intégrale 1772
                </a>
              </li>
              <li>
                <a class="button" href="assets\pdf\Nouveaux\1772\Table-des-matières-1772.pdf" download>
                  Table des matières 1772
                </a>
              </li>
              </ul>
              </mat-card-content>
            </mat-card> 
  <mat-card>
    <mat-card-actions>
      <a class="button1" (click)="clickCollapsed(4)">1773 »</a>
  </mat-card-actions>
  <mat-card-content *ngIf="!Collapsed(4)">
      <ul>
          <li>
            <a class="button" href="assets\pdf\Nouveaux\1773\Discours-art-procéder-développement-esprit-humain-Borrelly.pdf" download>
              Borrelly - Discours sur l'art de procéder dans le développement de l'esprit humain
            </a>
          </li>
          <li>
            <a class="button" href="assets\pdf\Nouveaux\1773\Examen-toute-succession-doit-renfermer-commencement-Cochius.pdf" download>
              Cochius - Examen sur la question : Si toute succession doit renfermer un commencement
            </a>
          </li>
          <li>
            <a class="button" href="assets\pdf\Nouveaux\1773\Éloge-de-Monsieur-Toussaint-Formey.pdf" download>
              Formey - Éloge de Monsieur Toussaint
            </a>
          </li>
          <li>
            <a class="button" href="assets\pdf\Nouveaux\1773\Essai-sur-les-récréations-Formey.pdf" download>
              Formey - Essai sur les récréations
            </a>
          </li>
          <li>
            <a class="button" href="assets\pdf\Nouveaux\1773\Questions-résoudre-science-des-mots-et-des-choses-Thiébault.pdf" download>
              Thiébault - Questions à résoudre sur la science des mots et des choses
            </a>
          </li>
          <li>
              <a class="button" href="assets\pdf\Nouveaux\1773\Sur-la-philosophie-de-l-histoire-troisième-mémoire-Wegelin.pdf" download>
                Wegelin - Sur la philosophie de l'histoire (troisième mémoire)
              </a>
            </li>
          <br>
          <li>
            <a class="button" href="assets\pdf\Nouveaux\1773\Publication-intégrale-1773.pdf" download>
              Publication intégrale 1773
            </a>
          </li>
          <li>
            <a class="button" href="assets\pdf\Nouveaux\1773\Table-des-matières-1773.pdf" download>
              Table des matières 1773
            </a>
          </li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-actions>
      <a class="button1" (click)="clickCollapsed(5)">1774 »</a>
  </mat-card-actions>
  <mat-card-content *ngIf="!Collapsed(5)">
        <ul>
            <li>
              <a class="button" href="assets\pdf\Nouveaux\1774\Sur-variabilité-notions-morales-diversité-des-systèmes-psychologiques-Beguelin.pdf" download>
                Beguelin - Sur la variabilité des notions morales attachée à la diversité des systèmes psychologiques
              </a>
            </li>
            <li>
              <a class="button" href="assets\pdf\Nouveaux\1774\Comment-les-sciences-influent-dans-la-poésie-introduction-premier-mémoire-Mérian.pdf" download>
                Mérian - Comment les sciences influent dans la poésie (introduction ; premier mémoire)
              </a>
            </li>
            <li>
              <a class="button" href="assets\pdf\Nouveaux\1774\Comment-les-sciences-influent-dans-la-poésie-second-mémoire-Mérian.pdf" download>
                Mérian - Comment les sciences influent dans la poésie (second mémoire)
              </a>
            </li>
            <li>
              <a class="button" href="assets\pdf\Nouveaux\1774\Sur-le-problème-de-Molyneux-quatrième-mémoire-Mérian.pdf" download>
                Mérian - Sur le problème de Molyneux (quatrième mémoire)
              </a>
            </li>
            <br>
            <li>
              <a class="button" href="assets\pdf\Nouveaux\1774\Publication-intégrale-1774.pdf" download>
                Publication intégrale 1774
              </a>
            </li>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-actions>
        <a class="button1" (click)="clickCollapsed(6)">1775 »</a>
    </mat-card-actions>
    <mat-card-content *ngIf="!Collapsed(6)">
          <ul>
            <li>
                <a class="button" href="assets\pdf\Nouveaux\1775\Sur-analogie-étendue-durée-Cochius.pdf" download>
                  Cochius - Sur l'analogie de l'étendue et de la durée
                </a>
              </li>
            <li>
                <a class="button" href="assets\pdf\Nouveaux\1775\Les-physionomies-appréciées-Formey.pdf" download>
                  Formey - Les physionomies appréciées
                </a>
              </li>
            <li>
                <a class="button" href="assets\pdf\Nouveaux\1775\Sur-le-problème-de-Molyneux-cinquième-mémoire-Mérian.pdf" download>
                  Mérian - Sur le problème de Molyneux (cinquième mémoire)
                </a>
              </li>
              <li>
                <a class="button" href="assets\pdf\Nouveaux\1775\Sur-immortalité-de-âme-considérée-physiquement-premier-second-Sulzer.pdf" download>
                  Sulzer - Sur l'immortalité de l'âme considérée physiquement (premier et second mémoire)
                </a>
              </li>
              <li>
                <a class="button" href="assets\pdf\Nouveaux\1775\Essai-sur-la-curiosité-Trembley.pdf" download>
                  Trembley - Essai sur la curiosité
                </a>
              </li>
              <li>
                <a class="button" href="assets\pdf\Nouveaux\1775\Sur-la-philosophie-de-l-histoire-Wegelin.pdf" download>
                  Wegelin - Sur la philosophie de l'histoire
                </a>
              </li>
              <br>
              <li>
                <a class="button" href="assets\pdf\Nouveaux\1775\Publication-intégrale-1775.pdf" download>
                  Publication intégrale 1775
                </a>
              </li>
              <li>
                <a class="button" href="assets\pdf\Nouveaux\1775\Table-des-matières-1775.pdf" download>
                  Table des matières 1775
                </a>
              </li>
          </ul>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-actions>
        <a class="button1" (click)="clickCollapsed(7)">1776 »</a>
    </mat-card-actions>
    <mat-card-content *ngIf="!Collapsed(7)">
        <ul>
            <li>
                <a class="button" href="assets\pdf\Nouveaux\1776\Réflexions-philosophiques-sur-la-Certitude-Beausobre.pdf" download>
                  Beausobre - Réflexions philosophiques sur la Certitude
                </a>
              </li>
              <li>
                <a class="button" href="assets\pdf\Nouveaux\1776\Éloge-de-Heinius-Formey.pdf" download>
                  Formey - Éloge de Heinius
                </a>
              </li>
              <li>
                <a class="button" href="assets\pdf\Nouveaux\1776\Comment-les-sciences-influent-poésie-troisième-mémoire-Mérian.pdf" download>
                  Mérian - Comment les sciences influent dans la poésie (troisième mémoire)
                </a>
              </li>
              <li>
                <a class="button" href="assets\pdf\Nouveaux\1776\De-influence-des-causes-physiques-sur-esprit-homme-Pernety.pdf" download>
                  Pernety - De l'influence des causes physiques sur l'esprit de l'homme
                </a>
              </li>
              <li>
                <a class="button" href="assets\pdf\Nouveaux\1776\Sur-immortalité-âme-considérée-physiquement-troisième-mémoire-Sulzer.pdf" download>
                  Sulzer - Sur l'immortalité de l'âme considérée physiquement (troisième mémoire)
                </a>
              </li>
              <li>
                <a class="button" href="assets\pdf\Nouveaux\1776\Sur-la-philosophie-de-histoire-cinquième-dernier-mémoire-Wegelin.pdf" download>
                  Wegelin - Sur la philosophie de l'histoire (cinquième et dernier mémoire)
                </a>
              </li>
            <br>
            <li>
              <a class="button" href="assets\pdf\Nouveaux\1776\Publication-intégrale-1776.pdf" download>
                Publication intégrale 1776
              </a>
            </li>
            <li>
              <a class="button" href="assets\pdf\Nouveaux\1776\Table-des-matières-1776.pdf" download>
                Table des matières 1776
              </a>
            </li>
        </ul>
        </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-actions>
        <a class="button1" (click)="clickCollapsed(8)">1777 »</a>
    </mat-card-actions>
    <mat-card-content *ngIf="!Collapsed(8)">
        <ul>
          <li>
                <a class="button" href="assets\pdf\Nouveaux\1777\Sur-un-problème-de-métaphysique-Castillon.pdf" download>
                  Castillon - Sur un problème de métaphysique
                </a>
            </li>
            <li>
                <a class="button" href="assets\pdf\Nouveaux\1777\Examen-sur-la-question-Si-toutes-les-vérités-sont-bonnes-dire-Formey.pdf" download>
                  Formey - Examen sur la question : Si toutes les vérités sont bonnes à dire
                </a>
            </li>
            <li>
                <a class="button" href="assets\pdf\Nouveaux\1777\Sur-le-problème-de-Molyneux-sixième-mémoire-Mérian.pdf" download>
                  Mérian - Sur le problème de Molyneux (sixième mémoire)
                </a>
            </li>
            <li>
                <a class="button" href="assets\pdf\Nouveaux\1777\De-influence-des-causes-physiques-tempérament-Pernety.pdf" download>
                  Pernety - De l'influence des causes physiques sur le tempérament
                </a>
            </li>
            <li>
                <a class="button" href="assets\pdf\Nouveaux\1777\Mémoire-différents-tempéraments-et-sur-leurs-effets-Pernety.pdf" download>
                  Pernety - Mémoire sur les différents tempéraments et sur leurs effets
                </a>
            </li>
            <li>
                <a class="button" href="assets\pdf\Nouveaux\1777\Observations-âme-comparées-matière-examen-du-Matérialisme-volume-1771-Sulzer.pdf" download>
                  Sulzer - Observations sur quelques propriétés de l'âme comparées à celles de la matière pour servir à l'examen du Matérialisme (Addition au texte du volume de 1771)
                </a>
            </li>
            <li>
                <a class="button" href="assets\pdf\Nouveaux\1777\Sur-immortalité-âme-considérée-physiquement-quatrième-cinquième-Sulzer.pdf" download>
                  Sulzer - Sur l'immortalité de l'âme considérée physiquement (quatrième et cinquième mémoire)
                </a>
            </li>
          <br>
            <li>
                <a class="button" href="assets\pdf\Nouveaux\1777\Publication-intégrale-1777.pdf" download>
                  Publication intégrale 1777
                </a>
            </li>
        </ul>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-actions>
          <a class="button1" (click)="clickCollapsed(9)">1778 »</a>
      </mat-card-actions>
      <mat-card-content *ngIf="!Collapsed(9)">
          <ul>
              <li>
                  <a class="button" href="assets\pdf\Nouveaux\1778\Recherches-Unités-dans-la-Nature-premier-mémoire-Beguelin.pdf" download>
                    Beguelin - Recherches sur les Unités dans la Nature (premier mémoire)
                  </a>
              </li>
              <li>
                  <a class="button" href="assets\pdf\Nouveaux\1778\Sur-quelques-maximes-Méditations-métaphysiques-Cochius.pdf" download>
                    Cochius - Sur quelques maximes à observer dans les Méditations métaphysiques
                  </a>
              </li>
              <li>
                  <a class="button" href="assets\pdf\Nouveaux\1778\fÉloge-de-Voltaire-Friedrich-II.pdf" download>
                    Friedrich II - Éloge de Voltaire
                  </a>
              </li>
              <li>
                  <a class="button" href="assets\pdf\Nouveaux\1778\Comment-sciences-poésie-quatrième-mémoire-suppléments-Mérian.pdf" download>
                    Mérian - Comment les sciences influent dans la poésie (quatrième mémoire et suppléments)
                  </a>
              </li>
              <li>
                  <a class="button" href="assets\pdf\Nouveaux\1778\Mémoire-sur-les-défauts-Pernety.pdf" download>
                    Pernety - Mémoire sur les défauts
                  </a>
              </li>
              <br>
              <li>
                  <a class="button" href="assets\pdf\Nouveaux\1778\Publication-intégrale-1778.pdf" download>
                    Publication intégrale 1778
                  </a>
              </li>
              <li>
                <a class="button" href="assets\pdf\Nouveaux\1778\Table-des-matières-1778.pdf" download>
                  Table des matières 1778
                </a>
              </li>
          </ul>
          </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-actions>
          <a class="button1" (click)="clickCollapsed(10)">1779 »</a>
      </mat-card-actions>
      <mat-card-content *ngIf="!Collapsed(10)">
            <ul>
                <li>
                    <a class="button" href="assets\pdf\Nouveaux\1779\Sur-l-enthousiasme-Beausobre.pdf" download>
                      Beausobre - Sur l'enthousiasme
                    </a>
                </li>
                <li>
                    <a class="button" href="assets\pdf\Nouveaux\1779\Recherche-unités-nature-Sur-unités-phyisque-second-mémoire-Beguelin.pdf" download>
                      Beguelin - Recherche sur les unités de la nature : Sur les unités phyisque (second mémoire)
                    </a>
                </li>
                <li>
                    <a class="button" href="assets\pdf\Nouveaux\1779\Sur-la-manière-d-enseigner-de-Socrate-Castillon.pdf" download>
                      Castillon - Sur la manière d_enseigner de Socrate
                    </a>
                </li>
                <li>
                    <a class="button" href="assets\pdf\Nouveaux\1779\Éloge-de-M-de-Sulzer-Formey.pdf" download>
                      Formey - Éloge de M de Sulzer
                    </a>
                </li>
                <li>
                    <a class="button" href="assets\pdf\Nouveaux\1779\Sur-le-problème-de-Molyneux-septième-mémoire-Mérian.pdf" download>
                      Mérian - Sur le problème de Molyneux (septième mémoire)
                    </a>
                </li>
                <li>
                    <a class="button" href="assets\pdf\Nouveaux\1779\Sur-l-art-psychologique-de-Tacite-premier-mémoire-Wegelin.pdf" download>
                      Wegelin - Sur l'art psychologique de Tacite (premier mémoire)
                    </a>
                </li>
                <li>
                    <a class="button" href="assets\pdf\Nouveaux\1779\Sur-l-art-psychologique-et-politique-de-Tacite-deuxième-mémoire-Wegelin.pdf" download>
                      Wegelin - Sur l'art psychologique et politique de Tacite (deuxième mémoire)
                    </a>
                </li>
                <br>
                <li>
                    <a class="button" href="assets\pdf\Nouveaux\1779\Publication-intégrale-1779.pdf" download>
                      Publication intégrale 1779
                    </a>
                </li>
                <li>
                  <a class="button" href="assets\pdf\Nouveaux\1779\Table-des-matières-1779.pdf" download>
                    Table des matières 1779
                  </a>
                </li>
            </ul>
          </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-actions>
          <a class="button1" (click)="clickCollapsed(11)">1780 »</a>
      </mat-card-actions>
      <mat-card-content *ngIf="!Collapsed(11)">
            <ul>
                <li>
                    <a class="button" href="assets\pdf\Nouveaux\1780\Essai-sur-les-justes-bornes-doit-assigner-spéculations-métaphysiques-Beguelin.pdf" download>
                      Beguelin - Essai sur les justes bornes qu'on doit assigner aux spéculations métaphysiques
                    </a>
                </li>
                <li>
                    <a class="button" href="assets\pdf\Nouveaux\1780\Éloge-de-Cochius-Formey.pdf" download>
                      Formey - Éloge de Cochius
                    </a>
                </li>
                <li>
                    <a class="button" href="assets\pdf\Nouveaux\1780\Sur-le-problème-de-Molyneux-huitième-mémoire-Mérian.pdf" download>
                      Mérian - Sur le problème de Molyneux (huitième mémoire)
                    </a>
                </li>
                <li>
                    <a class="button" href="assets\pdf\Nouveaux\1780\Observations-sur-les-méthodes-employées-pour-enseigner-morale-Prevost.pdf" download>
                      Prevost - Observations sur les méthodes employées pour enseigner la morale
                    </a>
                </li>
                <li>
                    <a class="button" href="assets\pdf\Nouveaux\1780\Sur-les-principes-théorie-gains-fortuits-premier-mémoire-Prevost.pdf" download>
                      Prevost - Sur les principes de la théorie des gains fortuits (premier mémoire)
                    </a>
                </li>
                <li>
                    <a class="button" href="assets\pdf\Nouveaux\1780\Sur-l-art-caractéristique-moral-politique-de-Tacite-troisième-mémoire-Wegelin.pdf" download>
                      Wegelin - Sur l'art caractéristique, moral et politique de Tacite (troisième mémoire)
                    </a>
                </li>
                <li>
                    <a class="button" href="assets\pdf\Nouveaux\1780\Sur-les-biogrpahies-de-Plutarque-premier-second-mémoire-Wegelin.pdf" download>
                      Wegelin - Sur les biogrpahies de Plutarque (premier et second mémoire)
                    </a>
                </li>
                <br>
                <li>
                    <a class="button" href="assets\pdf\Nouveaux\1780\Publication-intégrale-1780.pdf" download>
                      Publication intégrale 1780
                    </a>
                </li>
                <li>
                  <a class="button" href="assets\pdf\Nouveaux\1780\Table-des-matières-1780.pdf" download>
                    Table des matières 1780
                  </a>
                </li>
            </ul>
          </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-actions>
          <a class="button1" (click)="clickCollapsed(12)">1781 »</a>
      </mat-card-actions>
      <mat-card-content *ngIf="!Collapsed(12)">
            <ul>
                <li>
                  <a class="button" href="assets\pdf\Nouveaux\1781\Analyse-de-la-Dissertation-sur-Origine-du-Langage-par-Herder-Mérian.pdf" download>
                    Mérian - Analyse de la Dissertation sur l'Origine du Langage par M Herder
                  </a>
                </li>
                <li>
                  <a class="button" href="assets\pdf\Nouveaux\1781\Comment-les-sciences-influent-dans-la-poésie-suppléments-quatrième-Mérian.pdf" download>
                    Mérian - Comment les sciences influent dans la poésie (suppléments au quatrième mémoire)
                  </a>
                </li>
                <li>
                  <a class="button" href="assets\pdf\Nouveaux\1781\Sur-les-principes-théorie-des-gains-fortuits-second-mémoire-Prevost.pdf" download>
                    Prevost - Sur les principes de la théorie des gains fortuits (second mémoire)
                  </a>
                </li>
                <li>
                  <a class="button" href="assets\pdf\Nouveaux\1781\De-l-usage-considéré-comme-maître-absolu-des-Langues-Thiébault.pdf" download>
                    Thiébault - De l'usage considéré comme maître absolu des Langues
                  </a>
                </li>
              <br>
                <li>
                  <a class="button" href="assets\pdf\Nouveaux\1781\Publication-intégrale-1781.pdf" download>
                    Publication intégrale 1781
                  </a>
                </li>
                <li>
                  <a class="button" href="assets\pdf\Nouveaux\1781\Table-des-matières-1781.pdf" download>
                    Table des matières 1781
                  </a>
                </li>
            </ul>
          </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-actions>
          <a class="button1" (click)="clickCollapsed(13)">1782 »</a>
      </mat-card-actions>
      <mat-card-content *ngIf="!Collapsed(13)">
            <ul>
              <li>
                  <a class="button" href="assets\pdf\Nouveaux\1782\Rapport discours préliminaire Réfutation Nécessité Fatalisme professeur émérite Philosophie Annecy Fontaine-Beguelin.pdf" download>
                    Beguelin - Rapport sur le discours préliminaire de la Réfutation de la Nécessité et du Fatalisme par un professeur émérite de Philosophie à Annecy (M Fontaine)
                  </a>
                </li>
                <li>
                  <a class="button" href="assets\pdf\Nouveaux\1782\Dissertation sur le goût (suite)_Catt.pdf" download>
                    Catt - Dissertation sur le goût (suite)
                  </a>
                </li>
                <li>
                  <a class="button" href="assets\pdf\Nouveaux\1782\Éloge de M le Conseiller Achard_Formey.pdf" download>
                    Formey- Éloge de M le Conseiller Achard
                  </a>
                </li>
                <li>
                  <a class="button" href="assets\pdf\Nouveaux\1782\Essai sur la morale des auteurs_Formey.pdf" download>
                    Formey - Essai sur la morale des auteurs
                  </a>
                </li>
                <li>
                  <a class="button" href="assets\pdf\Nouveaux\1782\Sur la forme des gouvernements et quelle est la meilleure_Hertzberg.pdf" download>
                    Hertzberg - Sur la forme des gouvernements et quelle est la meilleure
                  </a>
                </li>
                <li>
                  <a class="button" href="assets\pdf\Nouveaux\1782\Lucrèce Newtonien (mémoire et appendice)_Lesage.pdf" download>
                    Lesage- Lucrèce Newtonien (mémoire et appendice)
                  </a>
                </li>
                <li>
                  <a class="button" href="assets\pdf\Nouveaux\1782\Sur l_histoire considérée comme la satire des travers du genre humain_Wegelin.pdf" download>
                    Wegelin - Sur l'histoire considérée comme la satire des travers du genre humain
                  </a>
                </li>
                <br>
                <li>
                  <a class="button" href="assets\pdf\Nouveaux\1782\Publication-intégrale-1782.pdf" download>
                    Publication intégrale 1782
                  </a>
                </li>
                <li>
                  <a class="button" href="assets\pdf\Nouveaux\1782\Table-des-matières-1782.pdf" download>
                    Table des matières 1782
                  </a>
                </li>
            </ul>
          </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-actions>
          <a class="button1" (click)="clickCollapsed(14)">1783 »</a>
      </mat-card-actions>
      <mat-card-content *ngIf="!Collapsed(14)">
            <ul>
              <li>
                  <a class="button" href="assets\pdf\Nouveaux\1783\Mémoire sur quelques paradoxes en Éloquence_Borrelly.pdf" download>
                    Borrelly - Mémoire sur quelques paradoxes en Éloquence
                  </a>
                </li>
                <li>
                  <a class="button" href="assets\pdf\Nouveaux\1783\Considérations philosophiques sur les Tusculanes (introduction)_Formey.pdf" download>
                    Formey - Considérations philosophiques sur les Tusculanes (introduction)
                  </a>
                </li>
                <li>
                  <a class="button" href="assets\pdf\Nouveaux\1783\Discours d_adieu_Pernety.pdf" download>
                    Pernety - Discours d'adieu
                  </a>
                </li>
                <li>
                  <a class="button" href="assets\pdf\Nouveaux\1783\Sur les notions claires et obscures, distinctes et confuses en fait d_Histoire_Wegelin.pdf" download>
                    Wegelin - Sur les notions claires et obscures, distinctes et confuses en fait d'Histoire
                  </a>
                </li>
              <br>
                <li>
                  <a class="button" href="assets\pdf\Nouveaux\1783\Publication-intégrale-1783.pdf" download>
                    Publication intégrale 1783
                  </a>
                </li>
                <li>
                  <a class="button" href="assets\pdf\Nouveaux\1783\Table-des-matières-1783.pdf" download>
                    Table des matières 1783
                  </a>
                </li>
            </ul>
          </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-actions>
          <a class="button1" (click)="clickCollapsed(15)">1784 »</a>
      </mat-card-actions>
      <mat-card-content *ngIf="!Collapsed(15)">
            <ul>
              <li>
                  <a class="button" href="assets\pdf\Nouveaux\1784\Considérations philosophiques sur les Tusculanes - Considérations sur la première Tusculane - De la mort_Formey.pdf" download>
                      Formey - Considérations philosophiques sur les Tusculanes - Considérations sur la première Tusculane - De la mort
                  </a>
                </li>
                <li>
                  <a class="button" href="assets\pdf\Nouveaux\1784\Éloge de M de Beausobre_Formey.pdf" download>
                    Formey - Éloge de M de Beausobre
                  </a>
                </li>
                <li>
                  <a class="button" href="assets\pdf\Nouveaux\1784\Comment les sciences influent dans la poésie (cinquième mémoire - Section 1 et 2)_Mérian.pdf" download>
                    Mérian - Comment les sciences influent dans la poésie (cinquième mémoire - Section 1 et 2)
                  </a>
                </li>
                <li>
                  <a class="button" href="assets\pdf\Nouveaux\1784\Distinctions-sens commun, jugement, goût, sentiment, esprit, imagination, génie, talent - Courtes réflexions-éloquence, le style, les traductions_Secondat.pdf" download>
                    Secondat - Distinctions entre ce qu'on appelle sens commun, jugement, goût, sentiment, esprit, imagination, génie, talent - Courtes réflexions sur l'éloquence, le style, les traductions
                  </a>
                </li>
              <br>
                <li>
                  <a class="button" href="assets\pdf\Nouveaux\1784\Publication-intégrale-1784.pdf" download>
                    Publication intégrale 1784
                  </a>
                </li>
                <li>
                  <a class="button" href="assets\pdf\Nouveaux\1784\Table-des-matières-1784.pdf" download>
                    Table des matières 1784
                  </a>
                </li>
            </ul>
          </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-actions>
          <a class="button1" (click)="clickCollapsed(16)">1785 »</a>
      </mat-card-actions>
      <mat-card-content *ngIf="!Collapsed(16)">
            <ul>
              <li>
                  <a class="button" href="assets\pdf\Nouveaux\1785\Considérations philosophiques sur les Tusculanes - Considérations sur la deuxième Tusculane - De la douleur_Formey.pdf" download>
                    Formey - Considérations philosophiques sur les Tusculanes ; Considérations sur la deuxième Tusculane : De la douleur
                  </a>
                </li>
                <li>
                  <a class="button" href="assets\pdf\Nouveaux\1785\Sur-instruire les sourds et les muets - Rapport-controverse entre M l_abbé de l_Épée et M le libraire Nicolaï_Formey.pdf" download>
                    Formey - Sur la meilleure manière d'instruire les sourds et les muets : Rapport concernant la controverse entre M l'abbé de l'Épée et M le libraire Nicolaï sur ce sujet
                  </a>
                </li>
                <li>
                  <a class="button" href="assets\pdf\Nouveaux\1785\Mémoire-beaux-arts - Quelle est la cause du plaisir qu_excitent en nous les beaux-arts-particulier la poésie_Prevost.pdf" download>
                    Prevost - Mémoire sur le principe des beaux-arts : Quelle est la cause du plaisir qu'excitent en nous les beaux-arts et en particulier la poésie
                  </a>
                </li>
                <li>
                  <a class="button" href="assets\pdf\Nouveaux\1785\Essai sur la réduction des Facultés de l_âme_Schwab.pdf" download>
                    Schwab - Essai sur la réduction des Facultés de l'âme
                  </a>
                </li>
              <br>
                <li>
                  <a class="button" href="assets\pdf\Nouveaux\1785\Publication-intégrale-1785.pdf" download>
                    Publication intégrale 1785
                  </a>
                </li>
                <li>
                  <a class="button" href="assets\pdf\Nouveaux\1785\Table-des-matières-1785.pdf" download>
                    Table des matières 1785
                  </a>
                </li>
            </ul>
          </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-actions>
          <a class="button1" (click)="clickCollapsed(17)">1786 »</a>
      </mat-card-actions>
      <mat-card-content *ngIf="!Collapsed(17)">
            <ul>
              <li>
                  <a class="button" href="assets\pdf\Nouveaux\1786\Considérations philosophiques sur les Tusculanes - Considérations sur la troisième Tusculane - Des afflictions_Formey.pdf" download>
                    Formey - Considérations philosophiques sur les Tusculanes ; Considérations sur la troisième Tusculane : Des afflictions
                  </a>
              </li>
              <li>
                  <a class="button" href="assets\pdf\Nouveaux\1786\Sur le respect dû aux Souverains_Formey.pdf" download>
                    Formey - Sur le respect dû aux Souverains
                  </a>
              </li>
              <li>
                  <a class="button" href="assets\pdf\Nouveaux\1786\Comment les sciences influent dans la poésie (cinquième mémoire - section 3)_Mérian.pdf" download>
                    Mérian - Comment les sciences influent dans la poésie (cinquième mémoire - section 3)
                  </a>
              </li>
              <br>
              <li>
                  <a class="button" href="assets\pdf\Nouveaux\1786\Table des matières 1786.pdf" download>
                    Table des matières 1786
                  </a>
              </li>
            </ul>
           </mat-card-content>
      </mat-card>

    </div>
  </div>
</div>