<meta http-equiv="Content-Security-Policy" content="default-src *;
   img-src * 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *;
   style-src  'self' 'unsafe-inline' *">

   <div class="container">
      
  
    <main class="main-area">
    
      <div class="centered">
    
        <section class="cards">

            <article class="card">
              <a routerLink="/histoire">
                  <figure class="thumbnail">
                    <img src="./assets/img/histoire1.jpg">
                  </figure>
                  <div class="card-content">
                    <h2>Histoires 1745-1769</h2>
                  </div>
                  <!-- .card-content -->
                </a>
              </article>
              <!-- .card -->
    
          <article class="card">
              <a routerLink="/nouveaux">
              <figure class="thumbnail">
              <img src="./assets/img/memoire2.jpg">
              </figure>
              <div class="card-content">
                <h2>Nouveaux Memoires 1770-1786</h2>
              </div>
              <!-- .card-content -->
            </a>
          </article>
          <!-- .card -->
    
          <article class="card">
            <a routerLink="/memoire">
              <figure class="thumbnail">
                <img src="./assets/img/memoire1.jpg">
              </figure>
              <div class="card-content">
                <h2>Memoires 1786-1804</h2>
              </div>
              <!-- .card-content -->
            </a>
          </article>
          <!-- .card -->
    
        </section>
        <!-- .cards -->
    
      </div>
      <!-- .centered -->
    
    </main>
  </div>